ignoreErrors = ["error-remote-getjson"]
paginate = 10
baseurl = "https://linkerd.io/"
disableKinds = ["taxonomy", "taxonomyTerm"]
enableRobotsTXT = true
languageCode = "en-US"
sectionPagesMenu = "main"
theme = "buoyant"
title = "Linkerd"
[markup]
	defaultMarkdownHandler = "blackfriday"
  [markup.blackFriday]
    angledQuotes = false
    footnoteAnchorPrefix = ""
    footnoteReturnLinkContents = ""
    fractions = true
    hrefTargetBlank = true
    latexDashes = true
    nofollowLinks = false
    noreferrerLinks = false
    plainIDAnchors = true
    skipHTML = false
    smartDashes = true
    smartypants = true
    smartypantsQuotesNBSP = false
    taskLists = true
[mediaTypes."text/netlify"]
delimiter = ""
[[menu.community]]
name = "Slack"
url = "https://slack.linkerd.io/"
weight = 2
[[menu.community]]
name = "GitHub"
url = "https://github.com/linkerd/linkerd2"
weight = 1
[[menu.follow]]
name = "Twitter"
url = "https://twitter.com/linkerd"
weight = 3
[[menu.follow]]
name = "YouTube"
url = "https://www.youtube.com/buoyantio"
weight = 1
[[menu.top]]
identifier = "documentation"
name = "Docs"
url = "/docs/"
weight = 1
[[menu.top]]
identifier = "community"
name = "Community"
url = "/community/"
weight = 2
[[menu.top]]
identifier = "get-involved"
name = "Get Involved"
url = "/community/get-involved/"
weight = 2
parent = "community"
[[menu.top]]
identifier = "community-adopters"
name = "Adopters"
url = "/community/adopters/"
weight = 3
parent = "community"
[[menu.top]]
identifier = "linkerd-ambassadors"
url = "/community/ambassadors/"
name = "Linkerd Ambassadors"
weight = 4
parent = "community"
[[menu.top]]
identifier = "community-heroes"
name = "Linkerd Heroes"
url = "/community/heroes/"
weight = 5
parent = "community"
[[menu.top]]
identifier = "buoyants-linkerd-forum"
name = "Buoyant's Linkerd Forum"
url = "https://linkerd.buoyant.io"
weight = 6
parent = "community"
[[menu.top]]
identifier = "blog"
name = "Blog"
url = "/blog/"
weight = 3
[[menu.top]]
identifier = "faq"
name = "FAQ"
url = "/faq/"
weight = 4
[[menu.top]]
identifier = "github"
name = "GitHub"
pre = "<i class='fab fa-github fa-lg' aria-hidden='true'></i>"
url = "https://github.com/linkerd/linkerd2"
weight = 5
[[menu.top]]
identifier = "start"
name = "GET STARTED"
post = "</span>"
pre = "<span class='button-spacer'>"
url = "/getting-started/"
weight = 6
[outputFormats.REDIRECTS]
baseName = "_redirects"
mediaType = "text/netlify"
[outputFormats.RSS]
mediatype = "application/RSS"
baseName = "feed"
[outputs]
home = ["HTML", "RSS", "REDIRECTS"]
section = ["HTML", "RSS", "JSON"]
[params]
description = "Linkerd is an ultralight service mesh for Kubernetes. It gives you observability, reliability, and security without requiring any code changes."
images = [""]
latest_release_date = "2022-05-31"
latest_release_version = "1.7.5"
latest_linkerd2_stable_version = "2.14"
logo = "/images/identity/png/Linkerd-Linky-flatter-larger-light.png"
[permalinks]
blog = "/:year/:month/:day/:slug/"
[privacy.twitter]
disable = false
enableDNT = false
simple = false
