@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Mono|Rubik:700,900");

// brand colors
$sky-blue: #c8f1ff;
$primary-bright-blue: #0185fd;
$secondary-bright-blue: #005efd;
$deep-blue: #063359;
$light-grey: #f4f4f4;
$medium-grey: #ececec;
$dark-grey: #818181;
$proxima-font: "Proxima Soft W01 Medium";
$orange: #ff9b21;

// update Bulma's global vars
$box-padding:0;
$size-1: 2.8rem;
$family-sans-serif: "Open Sans", sans-serif;
$family-secondary: "Rubik", sans-serif;
$text: $deep-blue;
$grey-light: $light-grey;
$notification-radius: 0;
$weight-semibold: 600;


$navbar-height: 5.375rem;
$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 2.625rem;
$navbar-z: 300; // rounded block is 200
$navbar-fixed-z: 300;

$navbar-box-shadow-size: 0 4px 4px 0;
$navbar-box-shadow-color: rgba(0,0,0,0.2);

$table-head-background-color: $primary-bright-blue;


$table-body-background-color: $light-grey;
$table-striped-row-even-background-color: white;
$table-striped-row-even-hover-background-color: transparent;

@import 'bulma-base';
