.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.center-column.is-fullwidth > .column {
  width: 100%;
  flex-basis: auto;
}

.row-reverse{
  flex-direction: row-reverse;
}

.column-reverse{
  flex-direction: column-reverse;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.ml-auto {
  margin-left: auto;
}

.has-border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px; 
}

.has-border-deep-blue {
  border-color: $deep-blue;
}

.has-border-grey {
  border-color: rgba(0, 0, 0, 0.2);
}
