@import 'helpers';
@import 'spacing';
@import 'flexbox';
html,
body {
  font-size: 16px;
  line-height: 20px;
}
.container {
  margin: 0 auto !important;
}
.wrapper {
  position: relative;
}
.homepage-notification {
  min-height: 40px;
  padding: 0 10px;
  background-color: $deep-blue;
}
.homepage-notification,
.homepage-notification a {
  color: white;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1.2;
}
.homepage-notification img {
  vertical-align: text-bottom;
}
.hero-body {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  main {
    width: 100%;
  }
  .container,
  .wrapper {
    width: 100%;
    &.body-header {
      .about-us-team-img {
        width: 100%;
      }
      .notification {
        background-color: transparent;
        .title {
          margin-bottom: 15px;
          &.is-size-5 {
            line-height: 30px;
            a {
              color: $primary-bright-blue;
              &:hover {
                color: $secondary-bright-blue;
              }
            }
          }
        }
      }
      .button {
        min-width: 170px;
        /*margin: 5px;
        &:nth-child(2n-1) {
          margin-left: 0;
        }*/
      }
      &.contacts {
        .map-container {
          z-index: 50;
          .map {
            width: 100%;
            height: 400px;
          }
        }
        .rounded-block.bottom-round {
          padding-bottom: 0;
        }
        .rounded-block-helper {
          bottom: 365px;
        }
      }
      &.blog-post {
        .post-header {
          padding: 45px 20px 0;
          .container {
            max-width: 760px;
          }
        }
        .media {
          max-width: 760px;
          strong {
            color: $deep-blue;
          }
        }
      }
    }
    &.image-list {
      padding: 0 10%;
      .title {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        top: 20px;
        opacity: 0.25;
      }
      .columns {
        padding: 13px 0;
      }
      a img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.4;
      }
      a:hover img {
        opacity: 1;
      }
    }
    &.kubernetes {
      .linkerd-logo {
        position: absolute;
        top: 50px;
        left: 50%;
        z-index: 250;
        width: 100%;
        text-align: center;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        .image {
          img {
            width: 180px;
          }
          figcaption {
            margin-top: 20px;
            line-height: 40px;
          }
        }
      }
      .image-item {
        max-width: 422px;
      }
      .kubernetes-content {
        padding-top: 75px;
        padding-bottom: 50px;
        .columns {
          &.content {
            max-width: 70%;
          }
          margin: 0 auto !important;
          .column:last-child {
            .button {
              min-width: 250px;
              line-height: 20px;
              margin: 0 24px;
            }
          }
          h6.title {
            line-height: 30px;
          }
        }
        .asciicast {
          width: 100%;
          iframe {
            width: 100%;
          }
        }
        .homepage-asciinema-video {
          padding: 0 0 0 36px;
        }
      }
    }
    &.stay-up-to-date {
      padding: 60px 0 80px;
      background-color: #c8f1ff;
      .notification {
        background: transparent;
        .title.is-4 {
          margin-bottom: 5px;
          line-height: 25px;
        }
        .title.is-6 {
          max-width: 45%;
          margin-bottom: 8px;
          line-height: 20px;
        }
        .fsBody {
          width: 600px;
          height: 56px;
          .fsError {
            top: -70px;
          }
          .fsPage {
            position: absolute;
            left: 0;
            .fsRowBody {
              padding: 0;
            }
            .fsField {
              height: 56px;
              margin: 0;
              border: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              &:active,
              &:focus {
                outline: none;
                -webkit-box-shadow: none;
                        box-shadow: none;
                border: 0;
              }
            }
          }
          .fsSubmit {
            position: absolute;
            right: 0;
            margin: 0;
            padding: 0;
            .fsSubmitButton {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
        .field {
          .control {
            font-size: 0;
            .input {
              width: 410px;
              height: 54px;
              border: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              &:active,
              &:focus {
                outline: none;
                -webkit-box-shadow: none;
                        box-shadow: none;
                border: 0;
              }
            }
            .button {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
    }
    &.join-team {
      padding-top: 25px;
      .join-team-content {
        padding-bottom: 35px;
        .is-half {
          -ms-flex-pack: distribute;
              justify-content: space-around;
        }
      }
    }
    &.founders {
      padding: 40px 0;
      .columns {
        max-width: 80%;
        margin: 0 auto;
        .founder-content {
          margin: 20px 0;
        }
        .column {
          padding-bottom: 25px;
          .founder-social-container {
            a {
              margin: 0 10px;
            }
          }
        }
      }
    }
    &.runbook-subscription {
      padding: 30px 0;
      .container {
        max-width: 70%;
      }
      .title {
        margin-bottom: 15px;
      }
      .button {
        margin-top: 20px;
      }
      .content-container {
        line-height: 20px;
        white-space: pre-line;
      }
    }
    &.subscription {
      padding-top: 50px;
      padding-bottom: 70px;

      &.premium-plan-form {
        background-color: #c8f1ff;
        padding: 50px 0 20px;
      }

      .table-container {
        border-radius: $radius;
        border: 1px solid $deep-blue;
        .table {
          min-width: 402px;
        }
        th {
          border-bottom: 1px solid $deep-blue;
        }
        td {
          border: none;
          padding: 0.75em 1em;
        }

        tfoot td {
          padding: 25px 0;
        }
      }

      .container {
        .select-plan-btn {
          cursor: pointer;
          .selected-plan {
            display: none;
          }
        }
        &.basic-selected {
          .form-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
          }
          .basic {
            position: relative;
            &.select-plan-btn {
              .selected-plan {
                display: inline;
              }
              .select-plan {
                display: none;
              }
            }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(1, 133, 253, 0.1);
            }
            &.dark {
              background: -o-linear-gradient(
                top,
                $primary-bright-blue 0%,
                $secondary-bright-blue 100%
              );
              background: -webkit-gradient(
                linear,
                left top, left bottom,
                from($primary-bright-blue),
                to($secondary-bright-blue)
              );
              background: linear-gradient(
                180deg,
                $primary-bright-blue 0%,
                $secondary-bright-blue 100%
              );
              color: white;
              &:before {
                display: none;
              }
            }
          }
        }
        &.premium-selected {
          .basic-plan-form {
            display: none;
          }
          .premium {
            position: relative;
            &.select-plan-btn {
              .selected-plan {
                display: inline;
              }
              .select-plan {
                display: none;
              }
            }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(1, 133, 253, 0.1);
            }
            &.dark {
              background: -o-linear-gradient(
                top,
                $primary-bright-blue 0%,
                $secondary-bright-blue 100%
              );
              background: -webkit-gradient(
                linear,
                left top, left bottom,
                from($primary-bright-blue),
                to($secondary-bright-blue)
              );
              background: linear-gradient(
                180deg,
                $primary-bright-blue 0%,
                $secondary-bright-blue 100%
              );
              color: white;
              &:before {
                display: none;
              }
            }
          }
        }
        .form-container {
          min-height: 210px;
        }
      }
      .columns {
        &.request-quote-form {
          width: 80%;
          margin: 0 auto;
        }
        &.request-quote-form {
          margin-top: 30px;
          .image-container {
            position: relative;
          }
          .image {
            position: absolute;
            top: -80px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            width: 320px;
          }
        }
      }
    }
    &.contact-info {
      padding: 60px 0;
      .title {
        margin-bottom: 10px;
      }
    }
    &.not-found {
      .columns.rounded-block > .column {
        &:first-child {
          padding-top: 35px;
        }
      }
    }
  }
}

.card {
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  .placeholder {
    background-color: rgb(70,125,189);
  }
  .content {
    min-height: 124px;
    margin-bottom: 0;
  }
  .card-footer {
    border-top:0;
    .card-footer-item {
      -webkit-box-pack: left;
          -ms-flex-pack: left;
              justify-content: left;
      figure {
        margin-right: 10px;
      }
    }
  }

  .card-image {
    padding: 8px;

    figure {
      height: 150px;
    }
  }
}

a.card-link {
  display: block;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    .card {
      background-image: linear-gradient(160deg, lighten($light-blue, 3%), white);
    }
  }
}

.related-card {

  .image {
    overflow: hidden;
  }

  .title {
    color: $deep-blue;
  }
  .media-content {
    padding: 8px 8px 16px 0;
  }
}

.box {
  .related-card {
    color: $deep-blue;
    .title {
      font-size: 20px !important;
      line-height: 1.4 !important;
      color: $deep-blue;
    }
    .related-card-header {
      font-size: 14px !important;
    }
    figure {
      -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
              filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
    }
  }
  .level {
    margin-bottom: 0.1em;
  }
  .content {
    padding-top: 5px;
    padding-right: 10px;
  }
  img {
    border-radius: $box-radius;
  }
  .title {
    margin: 0;
  }
  .media-left {
    padding: 8px 0 8px 8px;
  }
}

.curve {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.twitter-tweet-rendered {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

@media (max-width: 800px) {
  .hero-body {
    .wrapper {
      &.join-team {
        .join-team-content {
          .is-one-quarter {
            display: none;
          }
        }
      }
      &.kubernetes {
        .linkerd-logo {
          top: 20px;
        }
        .kubernetes-content {
          .columns {
            max-width: 100% !important;
            .column:last-child {
              .button {
                margin: 0;
                min-width: 200px;
              }
            }
            .is-narrow {
              -webkit-box-flex: 0;
                  -ms-flex: none;
                      flex: none;
            }
          }
        }
      }
      &.stay-up-to-date {
        padding-bottom: 20px;
        .notification {
          .title.is-6 {
            max-width: 100%;
          }
          .fsBody {
            width: 90%;
            height: auto;
            .fsPage,
            .fsSubmit {
              position: static;
              .fsField {
                border-radius: 4px;
              }
            }
            .fsSubmit {
              margin: 20px 0;
              text-align: center;
              .fsSubmitButton {
                border-radius: 8px;
              }
            }
          }
        }
      }
    }
  }

  .hero-body {
    .wrapper.subscription {
      .fsBody {
        .fs2Col {
          min-width: auto;
        }
      }

      .fsError {
        position: absolute;
        left: 50%;
        top: -180px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: auto;
      }

      .table-container {
        margin: 0 .5rem;
        .table {
          min-width: auto;
        }
        th {
          border-bottom: 1px solid $deep-blue;
        }
        td {
          border: none;
          padding: 0.75em 1em;
        }

        tfoot td {
          padding: 25px 0;
        }
      }
    }
  }
}

.premium-plan-form {
  .fsBody {
    .fsError {
      top: -140px;
    }
    .fsFieldCell {
      &.fsSpan50 {
        padding: 0 12px;
        width: 50%;
      }
      &.fsFirst {
        padding-left: 0px;
      }
      &.fsLast {
        padding-right: 0px;
      }
    }
    .fsPage {
      .fsField {
        min-height: 56px;
        border: 0;
        &:active,
        &:focus {
          outline: none;
          -webkit-box-shadow: none;
                  box-shadow: none;
          border: 0;
        }
      }
    }

    .field {
      .control {
        font-size: 0;
        .input {
          width: 410px;
          height: 54px;
          border: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          &:active,
          &:focus {
            outline: none;
            -webkit-box-shadow: none;
                    box-shadow: none;
            border: 0;
          }
        }
        .button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .hero-body {
    .wrapper {
      &.not-found {
        .button {
          width: 100%;
        }
      }
    }
  }
}

.hero-foot {
  .container,
  .wrapper {
    &.footer-links {
      & > .columns {
        padding: 60px 0 50px;
        margin: 0 auto;
      }
      .list-of-links {
        line-height: 30px;
        .title {
          margin-bottom: 5px;
        }
        a {
          &:hover {
            color: $primary-bright-blue;
          }
        }
      }
      .image {
        img {
          width: 218px;
        }
      }
    }
    .buoyant-info {
      .logo {
        margin-bottom: 20px;
      }
      .buoyant-email {
        margin-bottom: 5px;
      }
    }
    .list-of-links-container {
      padding-left: 70px;
      border-left: 3px solid $light-grey;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
    .footer-social-link {
      .image {
        padding: 12px;
        &:first-child {
          padding-left: 0;
        }
      }
    }
    &.footer {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
      min-height: 64px;
      .term-of-use {
        margin-right: 25px;
        &:hover {
          color: $primary-bright-blue;
        }
      }
      .footer-social-link {
        margin: 0 0.5rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .hero-foot {
    .container,
    .wrapper {
      .buoyant-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      &.footer {
        .is-11 {
          text-align: center;
        }
      }
    }
  }
}

.rounded-block {
  position: relative;
  .column {
    position: relative;
    z-index: 200;
  }
  &.bottom-round {
    padding-bottom: 80px;
    .rounded-block-helper {
      bottom: 0;
      border-radius: 0 0 100% 100%;
    }
  }
  &.top-round {
    padding-top: 80px;
    .rounded-block-helper {
      top: 0;
      border-radius: 100% 100% 0 0;
    }
  }
  .rounded-block-helper {
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100% !important;
    height: 80px;
  }
}

.options-container {
  margin: 0 auto !important;
  .field {
    .input {
      height: 55px;
      line-height: 19px;
      color: $dark-grey;
      &:focus,
      &:active {
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        border-color: $primary-bright-blue;
      }
    }
    .control.has-icons-left .icon.is-left {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }
  .button {
    min-width: 100%;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid $dark-grey;
    color: $dark-grey;
  }
}

/* blog-list */
.blog-preview {
  .blogs-container {
    min-height: 500px;
    padding-top: 35px;
  }
  .title.is-6 {
    margin-top: 40px;
  }
}

.blog-list-container {
  padding: 1rem;
  min-width: 530px;
  &.columns {
    .column {
      a {
        background-color: white;
        &:hover {
          .container {
            -webkit-box-shadow: none;
                    box-shadow: none;
          }
        }
        &:active {
          .container {
            -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
                    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
          }
        }
        .container {
          -webkit-transition: -webkit-box-shadow 0.2s linear;
          transition: -webkit-box-shadow 0.2s linear;
          -o-transition: box-shadow 0.2s linear;
          transition: box-shadow 0.2s linear;
          transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
        }
      }
      .container {
        min-height: 132px;
        background-color: #fff;
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.featured-items-container {
  width: 100%;
}

.blog-list-load-more {
  position: relative;
  z-index: 100;
  margin-top: 24px;
}

.blog {
  .blog-list-container.columns {
    padding-top: 35px;
  }
}

.container.blog-content-container {
  max-width: 760px;
  margin: 0 auto;
  padding: 50px 0;
  font-family: $family-sans-serif;
  color: $deep-blue;
  h1 {
    margin: 40px 0 18px;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
  }
  h2 {
    margin: 36px 0 14px;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }
  h3 {
    margin: 32px 0 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  p,
  div {
    margin: 14px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  ul,
  ol {
    margin-left: 20px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  img {
    display: block;
    margin: 30px auto;
  }
  code {
    color: $text;
    background-color: $light-grey;
  }
  strong {
    color: $deep-blue;
  }
}

/* blog-list */

.separator {
  width: 265px;
  max-width: 100%;
  margin: 1.5rem auto;
  height: 3px;
}

@media (max-width: 1024px) {

  .homepage-notification {
    height: auto;
    padding: 10px 15px;
  }

  .hero .hero-head .navbar {
    height: auto;
  }

  .container.blog-content-container {
    width: 90%;
  }

  .blog-list-container {
    min-width: auto;
  }
}

.fsBody {
  position: relative;
  .fsPage {
    .fsField {
      width: 100%;
      min-height: 48px;
      margin: 15px 0 24px 0;
      padding: 5px 9px;
      border: 1px solid $deep-blue;
      font-size: 1rem;
      border-radius: 4px;
      &:focus,
      &:active {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: none;
      }
    }
  }
  .fsSubmit input.fsSubmitButton {
    min-height: 56px;
    min-width: 200px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    background-color: $primary-bright-blue;
    border: 1px solid $secondary-bright-blue;
    -webkit-transition: border-color 0.2s linear, color 0.2s linear,
      background-color 0.2s linear;
    -o-transition: border-color 0.2s linear, color 0.2s linear,
      background-color 0.2s linear;
    transition: border-color 0.2s linear, color 0.2s linear,
      background-color 0.2s linear;
    &:hover {
      background-color: $secondary-bright-blue;
    }
    &:active {
      background-color: $secondary-bright-blue;
      -webkit-box-shadow: inset 2px 0px 8px rgba(0, 0, 0, 0.1),
        inset 0px 2px 8px rgba(0, 0, 0, 0.2);
              box-shadow: inset 2px 0px 8px rgba(0, 0, 0, 0.1),
        inset 0px 2px 8px rgba(0, 0, 0, 0.2);
    }
    &:focus {
      outline: none;
    }
  }
  .fsRowBody {
    &.fsValidationError {
      background-color: transparent;
    }
  }
  .fsError {
    position: absolute;
    left: 50%;
    top: -85px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 500px;
  }
}

@media (max-width: 700px) {
  .fsBody {
    position: relative;
    .fsPage {
      .fsField {
        width: 100%;
        height: 48px;
        margin: 8px 0;
        padding: 5px 9px;
        border: 1px solid $deep-blue;
        font-size: 1rem;
        border-radius: 4px;
        &:focus,
        &:active {
          -webkit-box-shadow: none;
                  box-shadow: none;
          outline: none;
        }
      }
    }
    .fsSubmit input.fsSubmitButton {
      min-height: 56px;
      min-width: 200px;
      font-size: 16px;
      border: 1px solid transparent;
      border-radius: 8px;
      color: white;
      background-color: $primary-bright-blue;
      border: 1px solid $secondary-bright-blue;
      -webkit-transition: border-color 0.2s linear, color 0.2s linear,
        background-color 0.2s linear;
      -o-transition: border-color 0.2s linear, color 0.2s linear,
        background-color 0.2s linear;
      transition: border-color 0.2s linear, color 0.2s linear,
        background-color 0.2s linear;
      &:hover {
        background-color: $secondary-bright-blue;
      }
    }
  }
}

.search-loader,
.search-loader:before,
.search-loader:after {
  background: #0064fc;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.search-loader {
  color: #0064fc;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.search-loader:before,
.search-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.search-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.search-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em;
  }
}

.is-size-5.has-text-weight-bold {
  font-weight: 700 !important;
}

.pagination {
  padding: 1rem;
}
.pagination .pagination-link,
.pagination .pagination-next,
.pagination .pagination-previous {
  color: $primary-bright-blue;
  border: 1px solid $primary-bright-blue;
}

.pagination .pagination-link.is-current {
  color: $white;
  background-color: $primary-bright-blue;
}

.ambassadors__top-hero {
  position: relative;
  padding: 60px 0;
  background: url("/images/ambassadors/bg-pattern.svg") $primary-bright-blue;
  background-repeat: no-repeat;
  background-position: center 30px;
}

.ambassadors__top-hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $light-grey;
}

.ambassadors__top-hero img {
  margin-top: 60px;
  position: relative;
  z-index: 10;
}

.ambassador__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 40px 40px 30px 40px;
  -webkit-box-shadow: -21px 22px 58px 5px rgba(0, 0, 0, 0.09);
          box-shadow: -21px 22px 58px 5px rgba(0, 0, 0, 0.09);
}

.ambassador__profile-image {
  margin-right: 20px;
}

.ambassador__country-flag {
  max-width: 50px;
  height: auto
}

// Shortcode cta-banner
.cta-banner .thumbnail-wrapper {
  position: relative;
}

.cta-banner .thumbnail-wrapper a:after {
  content: "";
  width: 100%;
  aspect-ratio: 16 / 9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.6;
  background-image: url("/images/play-button.svg"),-o-linear-gradient(23deg,#1c445f 40%,#2beda7);
  background-image: url("/images/play-button.svg"),linear-gradient(67deg,#1c445f 40%,#2beda7);
  background-repeat: no-repeat;
  background-position: center;
}

.cta-banner .thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.cta-banner .btn-dark {
  display: block;
  color: $white;
  background-color: $deep-blue;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .hero-body .wrapper.body-header .notification {
    padding-right: 1.5rem;
  }
  .hero-body {
    overflow: hidden;
  }
}
