<!DOCTYPE html>
<html lang="en" class="">

<head>
  {{ partial "head.html" . }}
  {{ block "head" . }}
  {{ end }}
</head>

<body class="has-background-grey-light has-navbar-fixed-top ">
  {{ if not .Site.IsServer }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXBDGKJ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ end }}
  {{ partial "header.html" . }}
  <section class="hero">
    <main aria-role="main" class="hero-body">
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ block "footer" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </section>
  {{ block "body-end" . }}
  {{ end }}

  {{ $isDocsPage := in (slice "1" "2" "blog") .Section }}
  {{ if $isDocsPage }}
  <script>
    anchors.add('.blog-content-container h1:not(.title), .blog-content-container h2, .blog-content-container h3, .blog-content-container h4');
  </script>
  {{ end }}


  <div class="modal" id="galleryModal">
    <div class="modal-background" onclick="hideImageModal()"></div>
    <div class="modal-content">
      <p class="image">
        <img id="galleryModalImage" data-proofer-ignore>
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="hideImageModal()"></button>
  </div>
</body>

</html>
