<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ partial "head-tracking.html" . }}
    <title>{{ partial "page-title" . }}</title>
    {{ partial "head-favicon" . }}
    {{ partial "head-meta" . }}
    {{ partial "head-seo" . }}
    {{ partial "head-rss" . }}
    {{ partial "head-css" . }}
    {{ partial "head-js" . }}
    {{ partial "head-schema" . }}
    {{ block "head" . }}
    {{ end }}
  </head>
  <body>
    {{ partial "body-open" . }}
    {{ partial "main-header" . }}
    {{ partial "main-announcement" . }}
    <main class="main-content">
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ partial "main-footer" . }}
    {{ partial "body-close" . }}
  </body>
</html>
