{{ $authorId := .Param "author" }}
{{ $author := (index $.Site.Data.authors $authorId)}}
{{ $date := .PublishDate.Format "January 2, 2006"}}
<div class="column is-half related-card">
  <a class="has-text-color" href="{{ .RelPermalink }}">
    <div class="card">
      <div class="card-image">
        {{ if .Params.feature }}
        <figure class="image level-item">
          <img {{ partial "src.html" (dict "img" .Params.feature) | safeHTMLAttr }} alt="featured image" />
        </figure>
        {{ else }}
        <figure class="image placeholder is-3by1">
          <img src="/images/identity/svg/linkerd_primary_color_white.svg" alt="placeholder" />
        </figure>
        {{ end }}
      </div>
      <div class="card-content">
        <div class="content">
          <div class="level is-marginless is-mobile related-card-header">
            <div class="level-left">
              {{if eq .Type "blog"}}
              <span class="level-item">{{ partial "readingtime.html" . }}</span>
              {{else}}
              <span class="level-item">{{ ($.Scratch.Get "type") }}</span>
              {{ end }}
            </div>
            <div class="level-right">
              <span class="level-item">{{ .PublishDate.Format "Jan 2, 2006"}}</span>
            </div>
          </div>
          <h3 class="title is-3 is-marginless">
            {{ .Params.title }}
          </h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item has-text-grey-dark">
            <figure class="image is-32x32">
              {{ if $author.avatar }}
              <img {{ partial "src.html" (dict "img" $author.avatar "class" "is-rounded") | safeHTMLAttr }}
                alt="{{ $author.name }}" />
              {{ else }}
              <img src="/images/buoyant_logo_blog-placeholder.svg" alt="author avatar" class="is-rounded" />
              {{ end }}
            </figure>
            <strong>{{ $author.name }}</strong>
        </footer>
      </div>
    </div>
  </a>
</div>
