<div class="column is-half">
  <a class="has-text-color" href="{{ .URL }}">
    <div class="box">
      <article class="related-card media">
        <div class="media-left">
          <div style="background-image: url({{ .Params.thumbnail }}); background-size: cover; opacity: 0.8;">
            <figure class="image is-128x128 level-item"  style="backdrop-filter: blur(10px);">
              {{ if .Params.thumbnail }}
              <img {{ partial "src.html" (dict "img" .Params.thumbnail) | safeHTMLAttr }} alt="featured image"  />
              {{ else }}
              <img src="/images/identity/svg/linkerd_primary_color_white.svg" alt="placeholder" />
              {{ end }}
            </figure>
          </div>
        </div>
        <div class="media-content">
          <div class="content">
            <div class="level is-mobile related-card-header">
              <div class="level-left">
                {{if eq .Type "blog"}}
                <span class="is-hidden-mobile level-item">{{ partial "readingtime.html" . }}</span>
                {{else}}
                <span class="level-item">{{ ($.Scratch.Get "type") }}</span>
                {{ end }}
              </div>
              <div class="level-right">
                <span class="level-item">{{ .PublishDate.Format "Jan 2, 2006"}}</span>
              </div>
            </div>
            <h3 class="title is-3 is-marginless">{{ .Params.title }}</h3>
          </div>
        </div>
      </article>
    </div>
  </a>
</div>
