{{ $scratch := newScratch }}
{{ if .Param "author" }}
  {{ $authorId := .Param "author" }}
  {{ $author := (index $.Site.Data.authors $authorId)}}
  {{ $scratch.Set "authorName" $author.name }}
{{ end }}

{{ if .Params.schema }}
  <script type="application/ld+json">
    {{ .Params.schema | safeJS }}
  </script>
{{ end }}

{{ if (and (or (eq .Section "resources") (eq .Section "blog")) (.IsPage)) }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "author": "{{ $scratch.Get "authorName" }}",
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "headline": {{ .Params.title }},
      "image": {{ .Params.feature | absURL }},
      "publisher": {
        "@type": "Linkerd",
        "name": "linkerd.io",
        "logo": {
          "@type": "ImageObject",
          "url": "https://linkerd.io/images/logo-100h.png",
          "width": 457,
          "height": 100
        }
      }
    }
  </script>
{{ end }}

{{ if eq .Params.enableVideoSchema true }}
  {{ $permalink := .Permalink }}
  {{ range .Params.schema_video }}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "VideoObject",
        "name": "{{.title}}",
        "description": "{{.description}}",
        "thumbnailUrl": "{{.thumbnailUrl}}",
        "uploadDate": "{{.uploadDate}}",
        "duration": "{{.duration}}",
        "publisher": {
          "@type": "Organization",
          "name": "Linkerd",
          "logo": {
            "@type": "ImageObject",
            "url": "https://linkerd.io/images/logo-100h.png",
            "width": 457,
            "height": 100
          }
        },
        "embedUrl": {{.embedUrl}},
        "contentUrl": "{{$permalink}}"
      }
    </script>
  {{ end }}
{{ end }}

{{ if eq .Params.enableFAQSchema true }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {{ range $k, $v := .Params.faqs }}
        {{ with $k }},{{ end }}
          {
            "@type": "Question",
            "name": "{{ .question }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ .answer | markdownify | plainify }}"
            }
          }
        {{ end }}
      ]
    }
  </script>
{{ end }}