{{ $scratch := newScratch }}
{{ if .Param "author" }}
  {{ $authorId := .Param "author" }}
  {{ $author := (index $.Site.Data.authors $authorId)}}
  {{ $scratch.Set "authorName" $author.name }}
{{ end }}

<script type="application/ld+json">
  {
    '@context': 'https://schema.org/',
    '@type': 'Product',
    'name': 'LinkerD',
    'image': 'https://linkerd.io/images/logo-only-200h.png',
    'description': "The world's lightest, fastest service mesh.",
    'brand': 'Bouyant',
    'offers': {
      '@type': 'AggregateOffer',
      'url': 'https://linkerd.io/2/getting-started/',
      'priceCurrency': 'USD',
      'lowPrice': '0',
      'offerCount': '1'
    },
    'aggregateRating': {
      '@type': 'AggregateRating',
      'ratingValue': '5',
      'bestRating': '5',
      'worstRating': '1',
      'ratingCount': '1',
      'reviewCount': '1'
    },
    'review': {
      '@type': 'Review',
      'name': 'Azharullah Shariff',
      'reviewBody': 'Just meshed up my k8s cluster with the awesome @Linkerd.. Never
 thought a service mesh adoption could be this easy !',
 'reviewRating': {
        '@type': 'Rating',
        'ratingValue': '5',
        'bestRating': '5',
        'worstRating': '1'
      },
      'datePublished': '2020-07-18',
      'author': {
        '@type': 'Person',
        'name': 'Twitter'
      },
      'publisher': {
        '@type': 'Organization',
        'name': '@md_azharullah'
      }
    }
  }
</script>

{{ if .Params.schema }}
  <script type="application/ld+json">
    {{ .Params.schema | safeJS }}
  </script>
{{ end }}

{{ if (and (or (eq .Section "resources") (eq .Section "blog")) (.IsPage)) }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "author": "{{ $scratch.Get " authorName " }}",
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "headline": {{ .Params.title }},
      "image": {{ .Params.feature | absURL }},
      "publisher": {
        "@type": "Linkerd",
        "name": "linkerd.io",
        "logo": {
          "@type": "ImageObject",
          "url": "https://linkerd.io/images/logo-100h.png",
          "width": 457,
          "height": 100
        }
      }
    }
  </script>
{{ end }}

{{ if eq .Params.enableVideoSchema true }}
  {{ $permalink := .Permalink }}
  {{ range .Params.schema_video }}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "VideoObject",
        "name": "{{.title}}",
        "description": "{{.description}}",
        "thumbnailUrl": "{{.thumbnailUrl}}",
        "uploadDate": "{{.uploadDate}}",
        "duration": "{{.duration}}",
        "publisher": {
          "@type": "Organization",
          "name": "Linkerd",
          "logo": {
            "@type": "ImageObject",
            "url": "https://linkerd.io/images/logo-100h.png",
            "width": 457,
            "height": 100
          }
        },
        "embedUrl": {{.embedUrl}},
        "contentUrl": "{{$permalink}}"
      }
    </script>
  {{ end }}
{{ end }}

{{ if eq .Params.enableFAQSchema true }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {{ range .Params.schema_faq.faqs }}
          {
            "@type": "Question",
            "name": "{{.question}}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{.answer}}"
            }
          },
        {{ end }}
      ]
    }
  </script>
{{ end }}