<div class="wrapper py-3 has-background-light-grey">
  <div class="container columns is-multiline">
    <div class="column is-12 is-10-desktop is-offset-1-desktop">
      <div class="columns column is-multiline">
        {{ range . }}
        <div class="column is-6">
          <a href="{{.url}}"{{ if hasPrefix .url "http" }} target="_blank"{{ end }}>
          <div class="heroes-card box is-flex is-justify-content-flex-start is-align-items-center px-2 py-3">
            <figure class="image is-96x96 mr-4 is-flex-shrink-0">
              <img class="is-rounded" src="{{.image}}" alt="{{.alt}}" />
            </figure>
            <div>
              <h3 class="is-size-5 hero__name">{{.name}}</h3>
              <p>{{.blurb}}</p>
              <p class="is-size-7">{{.date}}</p>
            </div>
            <figure class="hero-type__graphic">
              {{ if eq .hero_type "ambassador" }}
                <img src="/images/ambassador-graphic.svg" alt=trophy>
              {{ else if eq .hero_type "contributor" }}
                <img src="/images/contributor-graphic.svg" alt=trophy>
              {{ else }}
                <img src="/images/community-graphic.svg" alt=trophy>
              {{ end }}
            </figure>
          </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
