<div class="community-top-hero wrapper body-header has-background-bright-blue has-text-white">
  <div class="columns center-column is-marginless is-fullwidth">
    <div class="column">
      <div class="container columns is-marginless{{ if .image_on_the_right }} row-reverse{{ end }}">
        <div class="column is-3 py-4 community-top-hero__image-wrapper">
          <img src="{{.image}}" alt="Hero">
        </div>
        <div class="column is-9 center">
          <div class="notification">
            <h1 class="title is-size-1">{{.title}}</h1>
            <h5 class="title is-size-5">{{.description | markdownify}}</h5>
            <div class="columns">
              {{ range .buttons }}
                <div class="column">
                  <a href="{{.url}}" class="button is-primary is-large">
                    {{.caption}}
                  </a>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
