	<div class="adopters wrapper has-background-white">
		<div class="top-hero container px-5 py-6">
			<div class="columns is-multiline">
				<div class="column is-12">
					<h1>{{ .title }}</h1>
					<p>{{ .description | markdownify }}</p>
				</div>
				{{ range .case_studies }}
				<div class="column is-3 is-flex-shrink-0">
					<figure class="image is-full">
						<img src="{{ .image }}" alt="{{ .alt }}">
					</figure>
					<a class="is-block has-text-centered has-text-weight-semibold" href="{{ .link }}" target="_blank">Read case study</a>
				</div>
				{{ end}}
			</div>
		</div>
	</div>
