{{ define "main" }}

  <div class="jumbotron jumbotron-fluid linkerd-bg text-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h1 class="pb-3">Community</h1>
          <div class="github-stat-buttons">
            <a class="github-button"
              href="https://github.com/linkerd/linkerd"
              data-icon="octicon-star"
              data-size="large"
              data-show-count="true"
              aria-label="Star linkerd/linkerd on GitHub"
              target="_blank">
              Star
            </a>
            <a class="github-button"
              href="https://github.com/linkerd/linkerd/subscription"
              data-icon="octicon-eye"
              data-size="large"
              data-show-count="true"
              aria-label="Watch linkerd/linkerd on GitHub"
              target="_blank">
              Watch
            </a>
            <a class="github-button"
              href="https://github.com/linkerd/linkerd/fork"
              data-icon="octicon-repo-forked"
              data-size="large"
              data-show-count="true"
              aria-label="Fork linkerd/linkerd on GitHub"
              target="_blank">
              Fork
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-5">
    <div class="row">
      <div class="col-md-4">
        <h2 class="pb-4 text-center">Get Help</h2>
        <a class="media pb-2 text-dark"
          href="https://lists.cncf.io/g/cncf-linkerd-users"
          target="_blank">
          <i class="far fa-envelope fa-fw fa-2x mr-2"></i>
          <div class="media-body">
            <h4 class="media-heading">Mailing List</h4>
          </div>
        </a>
        <a class="media pb-2 text-dark"
          href="https://slack.linkerd.io/"
          target="_blank">
          <i class="fab fa-slack-hash fa-fw fa-2x mr-2"></i>
          <div class="media-body">
            <h4 class="media-heading">Slack</h4>
          </div>
        </a>
        <a class="media pb-2 text-dark"
          href="https://discourse.linkerd.io/"
          target="_blank">
          <i class="fab fa-discourse fa-fw fa-2x mr-2"></i>
          <div class="media-body">
            <h4 class="media-heading">Discourse</h4>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <h2 class="pb-4 text-center">Get Involved</h2>
        <a class="media pb-2 text-dark"
          href="https://github.com/linkerd/linkerd2/issues"
          target="_blank">
          <i class="fas fa-bug fa-fw fa-2x mr-2"></i>
          <div class="media-body">
            <h4 class="media-heading">Report a Bug</h4>
          </div>
        </a>
        <a class="media pb-2 text-dark"
          href="https://github.com/linkerd/linkerd2"
          target="_blank">
          <i class="fab fa-github fa-fw fa-2x mr-2"></i>
          <div class="media-body">
            <h4 class="media-heading">Github</h4>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <h2 class="pb-4 text-center">Get Updates</h2>
        <a class="media pb-2 text-dark"
          href="https://twitter.com/linkerd"
          target="_blank">
          <i class="fab fa-twitter fa-fw fa-2x mr-2"></i>
          <div class="media-body">
            <h4 class="media-heading">Twitter</h4>
          </div>
        </a>
        <a class="media pb-2 text-dark"
          href="https://www.youtube.com/channel/UCJbuow7WWvREXfdpiROnn7w"
          target="_blank">
          <i class="fab fa-youtube fa-fw fa-2x mr-2"></i>
          <div class="media-body">
            <h4 class="media-heading">Youtube</h4>
          </div>
        </a>
        <a class="media pb-2 text-dark"
          href="https://calendar.google.com/calendar/embed?src=buoyant.io_ko9bgtral72jnbrg3ljtvbprsc%40group.calendar.google.com&ctz=America%2FLos_Angeles"
          target="_blank">
          <i class="fas fa-calendar-alt fa-fw fa-2x mr-2"></i>
          <div class="media-body">
            <h4 class="media-heading">Calendar</h4>
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>

{{ end }}
