<div class="card">
  <div class="card__media">
    {{ with .Render "_feature-relref" }}
      <figure class="img-ratio img-ratio--4x1">
        <img src="{{ . }}" alt="{{ path.BaseName . | humanize }}" class="img img--rounded">
      </figure>
    {{ end }}
  </div>
  <div class="card__body">
    <div class="card__header">
      <h3>
        <a href="{{ .RelPermalink }}">
          {{ .LinkTitle }}
        </a>
      </h3>
    </div>
    <div class="card__content">
      {{ .Render "_meta-author" }}
    </div>
  </div>
</div>
