{{ define "main" }}
  <div class="blog blog--list">
    <div class="blog__container container">
      <div class="blog-list">
        <div class="blog-list__header">
          <h1>
            {{ .Title }}
          </h1>
          {{ with .OutputFormats.Get "rss" }}
            {{ partial "components/icon-button" (dict "href" .Permalink "icon" "rss" "size" "lg") }}
          {{ end }}
        </div>
        {{/* Show feature blog posts only on the first page */}}
        {{ if eq .Paginator.PageNumber 1 }}
          {{ with .Params.feature }}
            {{ if reflect.IsSlice . }}
              <div class="blog-list__feature">
                {{ range first 2 . }}
                  {{ with site.GetPage . }}
                    {{ .Render "_feature" }}
                  {{ end }}
                {{ end }}
              </div>
              <h2>
                All blog posts
              </h2>
            {{ end }}
          {{ end }}
        {{ end }}
        {{/* Paginated blog posts */}}
        <div class="blog-list__pages">
          {{ range .Paginator.Pages }}
            {{ .Render "_summary" }}
          {{ end }}
        </div>
      </div>
      {{ partial "components/paginator" . }}
    </div>
  </div>
{{ end }}
