{{ define "main" }}
  <div class="blog blog--single">
    <div class="blog__container container">
      <div class="blog-post">
        <div class="blog-post__header">
          <h1>
            {{ .Title }}
          </h1>
          {{ .Render "_meta-author" }}
        </div>
        <div class="blog-post__cover">
          {{ if eq .Params.showCover true }}
            {{ with .Render "_cover-relref" }}
              <img src="{{ . }}" alt="{{ path.BaseName . | humanize }}" class="img img--max-fill img--cover img--center img--rounded">
            {{ end }}
          {{ end }}
        </div>
        <div class="blog-post__content prose">
          {{ .Content }}
        </div>
      </div>
      {{ with site.RegularPages.Related . | first 4 }}
        <div class="blog-post-related">
          <h2>
            Suggested Blog Posts
          </h2>
          <div class="blog-post-related__pages">
            {{ range . }}
              {{ .Render "_summary" }}
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
