version: 2
jobs:
  test:
    docker:
      - image: gcr.io/linkerd-io/website-builder:1.0

    working_directory: ~/website
    steps:
      - checkout

      - run:
          name: Validate markdown
          command: |-
            make lint

      - run:
          name: Check for bad links
          command: |-
            make check

  publish:
    docker:
      - image: gcr.io/linkerd-io/website-builder:1.0

    working_directory: ~/website
    steps:
      - checkout

      - run:
          name: Configure gcloud cli
          command: |-
            echo ${GSTOKEN} > /tmp/token.json
            gcloud auth activate-service-account --key-file=/tmp/token.json

      - run:
          name: Publish
          command: |-
            make publish

workflows:
  version: 2
  publish:
    jobs:
      - test
      - publish:
          requires:
            - test
          filters:
            branches:
              only:
                - master
