<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  {{ partial "meta.html" . }}
  <title>Four uh oh four.</title>
</head>

<body>
  {{ partial "nav.html" . }}

  <div class="container-fluid">
  <header class="linkerd-bg-white row">
      <div class="col-md-6 col-md-offset-3">
        <h1 id="title">🙅‍ We can't seem to find what you're looking for...</h1>
        <p>... but, here are some links to help you get to the right place.</p>
          <p><a href="https://linkerd.io/">Go back to Linkerd.io</a></p>
          <p><a href="https://linkerd.io/docs">Read docs</a></p>
          <p><a href="https://github.com/linkerd/linkerd2">Find Linkerd on GitHub</a></p>
          <p><a href="https://linkerd.io/community">Get help with Linkerd</a></p>
          <p><a href="https://linkerd.io/community">See Linkerd updates</a></p>
          <p><a href="https://linkerd.io/community">Connect with Linkerd</a></p>
        </div>
  </header>

  </div>

  {{ partial "footer.html" . }}
</body>

</html>
