{{ define "main" }}
  <div class="jumbotron jumbotron-fluid linkerd-bg text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-7 pb-3">
          <h1>Ultralight service mesh for Kubernetes and beyond</h1>
          <p>Linkerd gives you observability, reliability, and security for your<br/> microservices &mdash; with no code changes required.</p>
          <div class="header-button-group pb-3">
            <a href="{{ relref . "/choose-your-platform.md" }}" class="btn btn-primary">Get started</a>
          </div>
          <div class="github-stat-buttons">
            <a class="github-button" href="https://github.com/linkerd/linkerd2" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star linkerd/linkerd2 on GitHub">Star</a>
            <a class="github-button" href="https://github.com/linkerd/linkerd2/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch linkerd/linkerd2 on GitHub">Watch</a>
            <a class="github-button" href="https://github.com/linkerd/linkerd2/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork linkerd/linkerd2 on GitHub">Fork</a>
          </div>
        </div>
        <div class="col-md-5 text-center">
          <img height="325" src="/images/identity/svg/linkerd-logo-gradient.svg">
        </div>
      </div>
    </div>
  </div>

  <!-- User Logos -->
  <div class="container pb-5 hero-logos">
    <div class="row justify-content-around">
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://buoyant.io"
        target="_blank">
        <img src="/images/logos/buoyant.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://offerup.com"
        target="_blank">
        <img src="/images/logos/offerup.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.salesforce.com"
        target="_blank">
        <img src="/images/logos/salesforce.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://paypal.com"
        target="_blank">
        <img src="/images/logos/paypal.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.xfinity.com/"
        target="_blank">
        <img src="/images/logos/comcast.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://monzo.com" target="_blank">
        <img src="/images/logos/monzo.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.expedia.com"
        target="_blank">
        <img src="/images/logos/expedia.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.shophush.com/"
        target="_blank">
        <img src="/images/logos/hush.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://studyo.co/"
        target="_blank">
        <img src="/images/logos/studyo.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.creditkarma.com"
        target="_blank">
        <img src="/images/logos/credit-karma.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.planet.com/"
        target="_blank">
        <img src="/images/logos/planet.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://wepay.com"
        target="_blank">
        <img src="/images/logos/chase.svg" />
      </a>
    </div>
  </div>
  <!-- User Logos -->

  <!-- Feature list -->
  <div class="container pb-5">
    <ul class="list-unstyled row pt-3">
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/graph.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Actionable service metrics</h4>
          <p>Best-in-class observability allows you to monitor <i>golden metrics</i>&mdash;success rate, request volume, and latency&mdash;for every service.</p>
        </div>
      </li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/stethoscope.svg" width="80">
        <div class="media-body">
          <h4>Deep runtime diagnostics</h4>
          <p>Get a comprehensive suite of diagnostic tools, including automatic service dependency maps and live traffic samples.</p>
        </div>
      </li>
      <li class="w-100"></li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/stopwatch.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Installs in seconds with zero config</h4>
          <p>Linkerd's control plane installs into a single namespace, and services can be safely added to the mesh, one at a time. </p>
        </div>
      </li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/lego.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Simple, minimalist design</h4>
          <p>No complex APIs or configuration. For most applications, Linkerd will "just work" out of the box.</p>
        </div>
      </li>
      <li class="w-100"></li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/quill-circle.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Ultralight and ultra fast</h4>
          <p>Built in Rust, Linkerd's data plane proxies are incredibly small (<10 mb) and blazing fast (p99 &lt; 1ms).</p>
        </div>
      </li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/foss.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Thriving open source community</h4>
          <p>Linkerd is 100% Apache-licensed, with an incredibly fast-growing, active, and friendly community. <a href="https://slack.linkerd.io/">Come join the fun</a>!</p>
        </div>
      </li>
    </ul>
  </div>
  <!-- Feature list -->

  <!-- Demo Video -->
<!--   <div class="container pb-5">
    <div class="row justify-content-md-center pb-3">
      <div class="col-md-6 text-center">
        <h2>Take a tour</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RC_9ywj0yz8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Demo Video -->

  <div class="container pb-5">
    <div class="row justify-content-md-center pb-3">
      <p>Linkerd is a <a href="https://cncf.io/">Cloud Native Computing Foundation</a> member project.</p>
    </div>
    <div class="row justify-content-md-center pb-3">
      <div class="col-md-6 text-center">
        <img src="images/CNCF_Alternate_Pantone.png" class="m-auto d-block" width="300" />
      </div>
    </div>
  </div>

{{ end }}
