{{ define "main" }}
  <div class="jumbotron jumbotron-fluid linkerd-bg text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-7 pb-3">
          <h1>A service sidecar for Kubernetes</h1>
          <p>Linkerd gives you instant Grafana dashboards and CLI debugging tools for any<br/> Kubernetes service &mdash; with no cluster-wide installation.</p>
          <div class="header-button-group pb-3">
            <a href="{{ ref . "/2/getting-started/_index.md" }}" class="btn btn-primary">Get Started</a>
          </div>
          <div class="github-stat-buttons">
            <a class="github-button" href="https://github.com/linkerd/linkerd2" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star linkerd/linkerd2 on GitHub">Star</a>
            <a class="github-button" href="https://github.com/linkerd/linkerd2/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch linkerd/linkerd2 on GitHub">Watch</a>
            <a class="github-button" href="https://github.com/linkerd/linkerd2/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork linkerd/linkerd2 on GitHub">Fork</a>
          </div>
        </div>
        <div class="col-md-5 text-center">
          <img height="325" src="/images/identity/svg/linkerd-logo-gradient.svg">
        </div>
      </div>
    </div>
  </div>

  <!-- User Logos -->
  <div class="container pb-5 hero-logos">
    <div class="row justify-content-around">
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://buoyant.io"
        target="_blank">
        <img src="/images/logos/buoyant.svg" />
      </a>
      <a class="col-md-2 col-4  my-auto pb-3"
        href="https://www.walmart.com/"
        target="_blank">
        <img src="/images/logos/walmart.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.salesforce.com"
        target="_blank">
        <img src="/images/logos/salesforce.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://paypal.com"
        target="_blank">
        <img src="/images/logos/paypal.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.xfinity.com/"
        target="_blank">
        <img src="/images/logos/comcast.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://monzo.com" target="_blank">
        <img src="/images/logos/monzo.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.expedia.com"
        target="_blank">
        <img src="/images/logos/expedia.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.shophush.com/"
        target="_blank">
        <img src="/images/logos/hush.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://studyo.co/"
        target="_blank">
        <img src="/images/logos/studyo.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.creditkarma.com"
        target="_blank">
        <img src="/images/logos/credit-karma.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://www.planet.com/"
        target="_blank">
        <img src="/images/logos/planet.svg" />
      </a>
      <a class="col-md-2 col-4 my-auto pb-3"
        href="https://wepay.com"
        target="_blank">
        <img src="/images/logos/chase.svg" />
      </a>
    </div>
  </div>
  <!-- User Logos -->

  <!-- Feature list -->
  <div class="container pb-5">
    <ul class="list-unstyled row pt-3">
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/stethoscope.svg" width="80">
        <div class="media-body">
          <h4>Rapidly diagnose runtime issues</h4>
          <p>Identify service failures right away. Trace issues directly to the failed calls or broken runtime dependencies.</p>
        </div>
      </li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/graph.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Get actionable service metrics</h4>
          <p>Get the insights that matter with pre-installed Grafana dashboards. See everything. Know everything.</p>
        </div>
      </li>
      <li class="w-100"></li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/stopwatch.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Zero configuration, installs in seconds</h4>
          <p>Instant service observability and dashboards. Three easy steps and your Linkerd is live.</p>
        </div>
      </li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/lego.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Incremental, composable design</h4>
          <p>Equally useful for one service or 100 services. No code or configuration changes needed.</p>
        </div>
      </li>
      <li class="w-100"></li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/quill-circle.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Lightweight, self contained</h4>
          <p>Minimal impact on other team's services, with a lightweight footprint.</p>
        </div>
      </li>
      <li class="media col my-3">
        <img class="mr-3" src="/images/value-props/foss.svg" width="80">
        <div class="media-body">
          <h4 class="media-heading">Built with Rust and 100% cloud native</h4>
          <p>Built with modern programming languages. Designed for the cloud native world.</p>
        </div>
      </li>
    </ul>
  </div>
  <!-- Feature list -->

  <!-- Demo Video -->
<!--   <div class="container pb-5">
    <div class="row justify-content-md-center pb-3">
      <div class="col-md-6 text-center">
        <h2>Take a tour</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RC_9ywj0yz8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Demo Video -->

{{ end }}
