<div class="container is-centered anchor-benefits">
  <div class="columns is-centered">
    <div class="column is-10">
      <div class="box p-6 mb-6">
        {{ with .title }}
          <h2 class="title is-size-1 has-text-navy-black mb-5">{{ . }}</h2>
        {{ end }}
        <ul>
          {{ range .items }}
            <li class="has-text-navy-black has-text-color">
              {{ . | markdownify }}
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
