<div class="wrapper benefits {{.backgroundColor}}">
  <div class="container is-centered">
    <div class="columns is-centered">
      <div class="column is-8">
        {{ if .title }}
          <h2 class="title is-size-1 center has-text-color has-text-centered-mobiledropdown navigation">{{.title}}
          </h2>
        {{ end }}
        <ul>
          {{ range .items}}
            <li class="has-text-navy-black has-text-color">
              {{.|markdownify}}
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>