<div class="wrapper signup {{.background_color}} features is-centered">
  <div class="container is-centered">
    <div class="columns is-centered">
      <div class="column is-8 has-text-navy-black">
        {{ if .title }}
          <h2 class="title is-size-1 center has-text-color has-text-centered-mobiledropdown navigation">{{.title}}</h2>
        {{ end }}
        <form name="anchor">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" name="title" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">Organization</label>
            <div class="control">
              <input class="input" type="text" name="organization" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" name="email" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">What is your Linkerd Slack username?</label>
            <div class="control">
              <input class="input" type="test" name="slack" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">In a few words, how are you using Linkerd?</label>
            <div class="control">
              <input class="input" type="text" name="usage" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">What do you need help with?</label>
            <div class="control">
              <textarea class="textarea" name="description" placeholder=""></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control has-text-centered ">
              <button class="button is-primary is-large is-inline-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
