<div class="container is-centered anchor-signup">
  <div class="columns is-centered">
    <div class="column is-10">
      <div class="box is-shadowless has-background-light-blue has-text-navy-black p-6">
        {{ with .title }}
          <h2 class="title is-size-1 has-text-navy-black mb-5">{{ . }}</h2>
        {{ end }}
        <form name="anchor">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" name="title" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">Organization</label>
            <div class="control">
              <input class="input" type="text" name="organization" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" name="email" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">What is your Linkerd Slack username?</label>
            <div class="control">
              <input class="input" type="test" name="slack" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">In a few words, how are you using Linkerd?</label>
            <div class="control">
              <input class="input" type="text" name="usage" placeholder="">
            </div>
          </div>
          <div class="field">
            <label class="label">What do you need help with?</label>
            <div class="control">
              <textarea class="textarea" name="description" placeholder=""></textarea>
            </div>
          </div>
          <div class="field pt-5">
            <div class="control">
              <button class="button is-link is-large">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
