{{ $title := or (.Get "title") "Add your title" }}
{{ $href := .Get "href"}}
{{ $thumbnail := or (.Get "thumbnail") "/images/buoyant-academy-default-thumbnail.png" }}

{{ $titleLength := len $title }}
{{ $titleSize := ""}}
{{ if gt $titleLength 80 }}
    {{$titleSize = "is-size-5"}}
{{ else if gt $titleLength 60 }}
    {{$titleSize = "is-size-4"}}
{{ else if gt $titleLength 40 }}
    {{$titleSize = "is-size-3"}}
{{ else }}
    {{$titleSize = "is-size-2"}}
{{ end }}


{{ if $href }}
<div class="cta-banner has-background-grey-light px-5 py-3">
    <div class="columns">
        <div class="column p-0 thumbnail-wrapper">
            <a href="{{ $href }}" target="_blank">
                <img class="thumbnail my-0" src="{{ $thumbnail }}" alt="{{ $title }}">
            </a>
        </div>
        <div class="column is-6 py-0">
            <p class="is-size-5 mt-0 has-border-bottom has-border-deep-blue is-inline-block">Hands-on Workshop</p>
            {{ if $title }}
                <p class="{{ $titleSize }} has-text-weight-normal my-0">{{ $title }}</p>
            {{ end }}
        </div>
        <div class="column py-0 is-flex is-flex-direction-column is-justify-content-space-between">
            <img src="/images/buoyant-academy-logo.png" alt="Buoayant Academy" class="mt-0">
            <a class="btn btn-dark" href="{{ $href }}" target="_blank">Watch Now</a>
        </div>
    </div>
</div>
{{ end }}