{{- /*

`edge-version` will return the edge version for a corresponding Linkerd version
based on the current section.

If the current section is not "2.xx", then the latest edge release will be
returned. For example, /2-edge/ or /faq/.

If the current section is 2.15 or higher, then the corresponding edge release
for that Linkerd version will be returned. For example, if a doc in the 2.17
section calls `edge-version`, it will return "edge-24.11.8". In the 2.18
section, it will return "edge-25.4.4".

If you want an edge release for a certain Linkerd version, regardless of the
current section, you can pass the Linkerd version as a param. For example,
`{{< edge-version "2.18" >}}` will always return "edge-25.4.4".

*/ -}}
{{- $result := "" }}
{{- $section := $.Page.Section }}
{{- with .Get 0 }}
  {{- $section = . }}
{{- end}}
{{- if hasPrefix $section "2." }}
  {{- with index (where site.Data.versions "version" $section) 0 }}
    {{- with .edge }}
      {{- $result = . }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if not $result }}
  {{- $result = "{{< latest-edge-version >}}" | markdownify | chomp }}
{{- end }}
{{- $result -}}
