<div class="hero wrapper body-header has-background-bright-blue has-text-white">
    <div class="columns center-column is-marginless is-fullwidth">
      <div class="column py-0">
        <div class="container columns is-marginless">
          <div class="column center">
            <div class="notification py-6">
              <h1 class="title is-size-1">{{.title}}</h1>
              <h5 class="title is-size-5">{{.description | markdownify}}</h5>
            </div>
          </div>
  
          <div class="py-6 column triangles is-flex is-flex-direction-column is-justify-content-center">
            {{ range .buttons}}
              <a class="button is-primary is-large is-fullwidth ml-0 mb-3" href="{{ .url }}">{{ .caption }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>