@use "sass:color";
@use "../abstracts";

@mixin make-button {
  display: inline-block;
  padding: 8.5px 16px;
  color: abstracts.$blue;
  background-color: transparent;
  border-radius: abstracts.$border-radius;
  outline-width: 0;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: abstracts.$font-family-base;
  font-weight: abstracts.$font-weight-bold;
  font-size: abstracts.$font-size-base;
  line-height: abstracts.$line-height-base;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:focus {
    outline: 0;
  }
  &:hover,
  &:active {
    color: abstracts.shade-color(abstracts.$blue, 20%);
    background-color: abstracts.$light-blue;
  }
}
@mixin make-button--primary {
  color: abstracts.$white;
  background-color: abstracts.$blue;

  &:hover,
  &:active {
    color: abstracts.$white;
    background-color: abstracts.shade-color(abstracts.$blue, 20%);
  }
}
@mixin make-button--secondary {
  color: abstracts.$navy;
  background-color: abstracts.$green;

  &:hover,
  &:active {
    color: abstracts.$navy;
    background-color: color.adjust(abstracts.$green, $lightness: -15%);
  }
}
@mixin make-button--outline {
  background-color: transparent;
  outline: solid 1px abstracts.$border-color;
  transition: color 0.2s ease, border-color 0.2s ease;

  &.button--primary {
    color: abstracts.$blue;
    outline-color: abstracts.$blue;

    &:hover,
    &:active {
      color: abstracts.shade-color(abstracts.$blue, 20%);
      outline-color: abstracts.shade-color(abstracts.$blue, 20%);
      background-color: transparent;
    }
  }
  &.button--secondary {
    color: color.adjust(abstracts.$green, $lightness: -30%);
    outline-color: color.adjust(abstracts.$green, $lightness: -30%);

    &:hover,
    &:active {
      color: color.adjust(abstracts.$green, $lightness: -35%);
      outline-color: color.adjust(abstracts.$green, $lightness: -35%);
      background-color: transparent;
    }
  }
}
@mixin make-button--lg {
  padding: 13px 24px;
  font-size: abstracts.$font-size-lg;
}
@mixin make-button--md {
  padding: 8.5px 16px;
  font-size: abstracts.$font-size-base;
}
@mixin make-button--sm {
  padding: 8px 14px;
  font-size: abstracts.$font-size-sm;
}
@mixin make-button--xs {
  padding: 2px 8px;
  font-size: abstracts.$font-size-xs;
}
@mixin make-button--block {
  display: block;
  width: 100%;
}
@mixin make-button--disabled {
  pointer-events: none;
  opacity: 0.25;
}
