:root {
  font-size: $font-size-base;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $white;
  color: $navy;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

// Block elements

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: spacer(3);
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p, ul, ol, dl, figure {
  margin: 0;
  margin-bottom: spacer(3);
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

dt {
  font-weight: $font-weight-bold;
}

dd {
  margin: 0;
  padding-left: spacer(4);
}

ul, ol {
  padding-left: spacer(4);
}

ul ul,
ol ol,
ol ul,
ul ol {
  margin-bottom: 0;
  padding-top: spacer(2);
}

li {
  margin-bottom: spacer(1);
  &:last-child {
    margin-bottom: 0;
  }
}

figure img {
  display: block;
  height: auto;
  max-width: 100%;
}

blockquote {
  margin: 0;
  margin-bottom: spacer(3);
  padding: spacer(3);
  border-left: solid 2px $border-color;

  & > :last-child {
    margin-bottom: 0;
  }
}

hr {
  overflow: visible;
  height: 0;
  margin: 0;
  margin-bottom: spacer(3);
  box-sizing: content-box;
  border: none;
  border-top: solid 2px $border-color;
}

pre {
  margin: 0;
  margin-bottom: spacer(3);
  font-size: 90%;
  // Prevent pre content from overflowing parent if it's a flex item
  overflow-x: auto;
  max-width: 0;
  min-width: -webkit-fill-available;
  min-width: -moz-available;
  min-width: stretch;
  font-family: $font-family-mono;
}

// Inline elements

img {
  border-style: none;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color .2s ease;

  &:hover,
  &:active {
    color: $link-color-hover;
  }
}

strong,
b {
  font-weight: $font-weight-heavy;
}

code {
  font-family: $font-family-mono;

  // Code elements without a pre parent
  &:not(pre code) {
    padding: 1px 3px;
    background-color: $light-blue;
    border-radius: $border-radius;
    font-size: 90%;
    mix-blend-mode: multiply;
  }
}

figcaption {
  padding-top: spacer(2);
  color: $gray;
  font-size: $font-size-sm;
  text-align: center;
}

// Tables

table {
  width: 100%;
  margin: 0;
  margin-bottom: spacer(3);
  border-collapse: collapse;
  border-top: solid 1px $border-color;
}

th, td {
  padding: spacer(2) spacer(3);
  border-bottom: solid 1px $border-color;
  text-align: left;
}

th {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}

thead tr,
tr:nth-child(even) {
  background-color: $light-gray;
}

// Forms

select,
input,
textarea,
button {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

select {
  appearance: none;
  padding: spacer(2) spacer(5) spacer(2) spacer(3);
  border: solid 1px $border-color;
  background-color: $white;
  color: $navy;
  border-radius: $border-radius;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" fill="%238399ac"/></svg>');
  background-repeat: no-repeat;
  background-position: right spacer(2) center;
  background-size: spacer(4) spacer(4);
}

input[type=text],
input[type=email],
textarea {
  padding: spacer(1) spacer(2);
  width: 100%;
  border: solid 1px $border-color;
  border-radius: $border-radius;
  background-color: $white;
  color: $navy;

  &:focus {
    outline: $blue;
  }
  &::placeholder {
    color: $gray;
  }
}

input[type=submit],
button {
  @include make-button;
  @include make-button--primary;
  border: none;
}

input[type=text] {
  // Remove Chrome's autofill background color
  // https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: $navy;
    transition: background-color 5000s ease-in-out 0s;
  }
}
