.navbar-menu {
	position: relative;
}

.navbar-item-helper {
  font-size: 16px;
  font-weight: 600;
  svg {
    margin-right: 5px;
  }
}

.navbar.is-fixed-top {
  z-index: 100000;
}

.navbar {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  img {
    width: 160px;
    max-height: none;
  }

  .dropdown {
  	position: static;
  	@include desktop {
  		position: relative;
      align-items: center;
  	}
  }

  .dropdown-menu {
  	top: 0;
  	width: 100%;
  	height: 100%;
  	background-color: white;
  	@include desktop {
  		top: 100%;
  		width: auto;
  		height: auto;
  		background-color: transparent;
  	}
  }

  .dropdown-item {
    background-color: transparent;
  	color: $deep-blue;
  }

  .dropdown-item:hover {
  	background-color: transparent;
  	color: $primary-bright-blue;
  	@include desktop {
	    color: $primary-bright-blue;
  	}
  }

  .dropdown .dropdown-trigger button,
  .dropdown .dropdown-trigger button:focus {
    outline: none;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding-right: 28px;

    &:after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: url("/images/icon-chevron-down-blue.svg");
    }
  }

  .dropdown.is-active .dropdown-trigger button:after {
    transform: translateY(-50%) rotate(180deg);
  }

  .dropdown-menu button.back {
  	color: $primary-bright-blue;
  	background-color: transparent;
  	border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  	@include desktop {
  		display: none;
  	}
  }

  .dropdown-content {
    box-shadow: none;
  	background-color: white;
  	@include desktop {
      box-shadow: $dropdown-shadow;
  	}
  }

  .navbar-start {
    box-shadow: none;
    .navbar-item,
    .dropdown-item {
      line-height: 1.5!important;
      padding-left: 1rem;
      padding-right: 1rem;
      color: $deep-blue;
      &.is-active,
      &:hover {
        background: none;
      }
      &:hover {
        .navbar-item-helper {
          color: $primary-bright-blue;
        }
      }
      &.is-active {
        .navbar-item-helper {
          color: $primary-bright-blue;
        }
      }
    }
  }
}

.github-stars {
  span {
    display: block;
    height: 28px;
  }     
}