@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700");

// brand colors
$sky-blue: #c8f1ff;
$primary-bright-blue: #0185fd;
$secondary-bright-blue: #005efd;
$light-blue: #E3F2FE;
$deep-blue: #063359;
$light-grey: #f4f4f4;
$medium-grey: #ececec;
$dark-grey: #818181;
$proxima-font: "Proxima Soft W01 Medium";
$orange: #ff9b21;
$dark-green: #64F9BF;
$light-green: #3BECA9;
$aqua-green: #e9fdf5;

// update Bulma's global vars
$box-padding:0;
$box-radius: 4px;
$size-1: 2.8rem;
$family-primary: "Open Sans", sans-serif;
$family-sans-serif: "Open Sans", sans-serif;
$text: $deep-blue;
$grey-light: $light-grey;
$notification-radius: 0;

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$dropdown-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);

$navbar-height: 3.4rem;
$navbar-z: 300; // rounded block is 200
$navbar-fixed-z: 300;
$navbar-burger-color: $primary-bright-blue;
$navbar-box-shadow-size: 0;
//$navbar-box-shadow-color: rgba(0,0,0,0.2);
$navbar-background-color: white;

$breadcrumb-item-separator-color: $dark-grey;

$table-head-background-color: $light-grey;

$table-body-background-color: $light-grey;
$table-striped-row-even-background-color: white;
$table-striped-row-even-hover-background-color: transparent;

$menu-list-border-left: none;
$menu-item-color: $dark-grey;
$menu-item-hover-color: $primary-bright-blue;
$menu-item-hover-background-color: inherit;
$menu-item-active-color: $deep-blue;
$menu-item-active-background-color: white;

$modal-z: 100001;

$tablet-enabled: false;

@import 'bulma-base';

.has-background-bright-blue {
  background: $primary-bright-blue;
}

.has-background-light-gray {
  background: $light-grey;
}

.has-background-light-blue {
  background: $light-blue;
}

.has-background-light-green {
  background: $light-green;
}

.has-background-navy-black {
  background: $deep-blue;
}

.has-text-navy-black,
.has-text-color {
  color: $deep-blue;
}

.has-text-dark-grey {
  color: $dark-grey;
}

.has-text-light-green {
  color: $light-green !important;
}

.has-background-aqua-green {
  background: $aqua-green;

  &.image-list {
    .title {
      color: $dark-green;
    }
  }
}

.has-gradient-text {
  background-image: -webkit-linear-gradient(0deg, $deep-blue, $primary-bright-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

body {
  font: 400 18px/28px "Open Sans" !important;
}

h1,
.is-size-1,
h1.is-size-1 {
  font: 400 40px/48px "Open Sans" !important;
}

h2,
.is-size-2,
h2.is-size-2 {
  font: 700 28px/36px "Open Sans" !important;
}

h3,
.is-size-3
h3.is-size-3 {
  font: 600 26px/34px "Open Sans" !important;
}

h4,
.is-size-4,
h4.is-size-4 {
  font: 400 26px/32px "Open Sans" !important;
}

h5,
.is-size-5,
h5.is-size-5 {
  font: 400 20px/28px "Open Sans" !important;
}

h6,
.is-size-6,
h6.is-size-6 {
  font: 500 16px/22px "Open Sans" !important;
  &.has-text-weight-light {
    font-weight: 400 !important;
  }
}

a {
  font: 400 18px/22px "Open Sans" !important;
  color: $primary-bright-blue;
  &:hover {
    color: $secondary-bright-blue;
  }
}

.button {
  border: 1px solid $dark-green;
  border-radius: 4px;
  color: $dark-green;
  background-color: transparent;
  font: 600 18px/22px "Open Sans" !important;
  &:hover,
  &:active,
  &:focus {
    border-color: $light-green;
    color: $light-green;
  }
  &.is-primary {
    color: $deep-blue;
    border-color: transparent;
    background-color: $dark-green;
    border: 1px solid $dark-green;
    &:hover,
    &:focus {
      color: $deep-blue;
      background-color: $light-green;
    }
    &:active {
      color: $deep-blue;
      background-color: $light-green;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
  &.is-link {
    background-color: $primary-bright-blue;
  }
  &.is-large {
    min-height: 56px;
    min-width: 200px;
  }
}

.text-nowrap {
  white-space: nowrap !important;
}
