$dark: #1d2322;

$primary: #236Ad9;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 300;

$table-cell-min-width: 10em;

$kbd-padding-y: 0.1rem;
