@import "custom.scss";
@import "bootstrap/bootstrap.scss";
@import "sidebar.scss";
@import "linkerd-coin.scss";
@import "linkerd-demo.scss";

.linkerd-bg {
  background: linear-gradient(#3F8B5A, #275B3A);
}

.jumbotron .btn {
  border-color: $light;
}

.target-cards img {
  width: 100px;
}

.btn-bg-light {
  background-color: $light;
}

.hero-logos {
  img {
    width: 75px;
  }
}

.linkerd-testimonials {
  background-color: #507eb6;
  min-height: 230px;

  .media img {
    width: 71px;
    border-radius: 50%;
  }

  blockquote footer.blockquote-footer {
    color: $light;
  }
}

footer li {
  line-height: 2rem;
}

.docs-content {
  h1, h2 {
    border-bottom: 1px solid $gray-500;
    padding-bottom: .5rem;
  }

  h1, h2, h3, h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  pre {
    margin-bottom: 1rem;
  }

  dt:first-child, dd:nth-child(2) {
    // This is because the border-top class is being used
    border-top: 0px !important;
  }

  .table td {
    min-width: $table-cell-min-width;

    &.cli {
      white-space: nowrap;
    }
  }

  .table td,th {
    border-top: 0px;
  }

  :not(pre) > code[class*="language-"] {
    padding: $kbd-padding-y $kbd-padding-x;
    font-size: $kbd-font-size;
    color: $kbd-color;
    background-color: $kbd-bg;
    @include border-radius($border-radius-sm);
    @include box-shadow($kbd-box-shadow);
  }
}
