@import "custom.scss";
@import "bootstrap/bootstrap.scss";
@import "sidebar.scss";
@import "linkerd-coin.scss";
@import "linkerd-demo.scss";

.linkerd-bg {
  background: linear-gradient(#3F8B5A, #275B3A);
}

.jumbotron .btn {
  border-color: $light;
}

.target-cards img {
  width: 100px;
}

.btn-bg-light {
  background-color: $light;
}

.hero-logos {
  img {
    width: 75px;
  }
}

.linkerd-testimonials {
  background-color: #507eb6;
  min-height: 230px;

  .media img {
    width: 71px;
    border-radius: 50%;
  }

  blockquote footer.blockquote-footer {
    color: $light;
  }
}

footer li {
  line-height: 2rem;
}

.docs-content {
  h1 {
    margin-bottom: 1.75rem;
  }

  h2, h3 {
    margin-top: 1rem;
    padding-bottom: 1.75rem;
  }

  pre {
    margin-bottom: 1.25rem;
  }

  dt:first-child, dd:nth-child(2) {
    // This is because the border-top class is being used
    border-top: 0px !important;
  }
}

code {
  $code-background: $code-background;
}

.table td {
  min-width: $table-cell-min-width;

  &.cli {
    white-space: nowrap;
  }
}
