.mv-linkerd-coin-container {
  position: relative;
  max-width: 275px;
  min-height: 275px;
  margin: auto;

  .mv-linkerd-logo-image-container {
    position: absolute;
    top: 67px;
    left: 63px;
  }

  .mv-linkerd-logo-coin-container {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }

  .section-header-svg-fill {
    height: 136px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }

  .linkerd-top, .linkerd-middle, .linkerd-bottom {
    animation: offset 3s linear forwards;
  }

  .linkerd-top {
    stroke-dasharray: 448;
    stroke-dashoffset: 448;
  }

  .linkerd-middle {
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
  }

  .linkerd-bottom {
    stroke-dasharray: 857;
    stroke-dashoffset: 857;
  }

  .section-header-svg {
    position: absolute;
  }

  @keyframes offset {
    to {
      stroke-dashoffset: 0;
    }
    0% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 1; }
  }
  @keyframes fadein {
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadein { /* Firefox */
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from { opacity: 0; }
      to { opacity: 1; }
  }
  @-o-keyframes fadein { /* Opera */
      from { opacity: 0; }
      to { opacity: 1; }
  }
}
