/*
  Accordion style navbar.
  Based on http://www.cssscript.com/demo/multilevel-accordion-menu-with-plain-html-css/
*/

.sidebar {
  .nav-link {
    color: $black;
  }

  .nav {
    display: none;

    font-size: $font-size-sm;

    > .nav-item a {
      background-color: $light;

      &.active {
        color: $black;
        background-color: darken($light, 10%);
      }

      @include hover-focus {
        background-color: darken($light, 10%);
      }
    }
  }

  > .nav-item {
    &.active {
      .nav {
        display: block;
      }
    }

    > .nav-link {
      @include hover-focus {
        color: $white;
        background-color: $primary;
      }
    }
  }
}
