@import 'bulma';
@import 'styles-base';

.navbar-item-helper {
  svg {
    margin-right: 5px;
  }

  .button-spacer {
    padding: 19px 21px;
    height: 56px;
    border: 1px solid $white;
    border-radius: 8px;

    .navbar-item:hover & {
      border: 1px solid $primary-bright-blue;
    }
  }
}

.button {
  &.is-large {
    min-height: 56px;
    min-width: 200px;
    font-size: 16px !important;
  }
}

.github-stat-buttons {
  margin: 25px 0;
}

.wrapper {
  &.tweets, &.features {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.hero-body {
  .image-list {
    &.has-background-aqua-green {
       .title {
         color: $dark-green;
         padding-top: 30px;
         margin-bottom: 0;
         position: relative;
         left: auto;
         transform: none;
         top: auto;
         opacity: 1;
       }
     }
   }
}

.features {
  .buttons {
    padding-top: 30px;
  }
}

.foundation-member {
  padding: 40px 0 40px;
}

.homepage-top-hero {
  background: url('/images/pattern_home_hero.svg');
  background-repeat:no-repeat;
  background-position: left center;
}

.community-top-hero {
  background: url('/images/pattern_community_hero.svg');
  background-repeat:no-repeat;
  background-position: left center;
}

.hero-body .wrapper.image-list {
  a img {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
    opacity: 0.4;
  }
  a:hover img {
    opacity: 1;
  }
}

.stats-list-item {
  padding: 50px 0;
}