{{ $docsVersion := index (split .Page.RelPermalink "/") 1 }}
{{/* the index function doesn't accept variables */}}
{{ $data := (index site.Data "cli").AnnotationsReference }}
{{ if eq $docsVersion "2-edge" }}
{{ $data = (index site.Data "cli-2-edge").AnnotationsReference }}
{{ else if eq $docsVersion "2.10" }}
{{ $data = (index site.Data "cli-2-10").AnnotationsReference }}
{{ else if eq $docsVersion "2.11" }}
{{ $data = (index site.Data "cli-2-11").AnnotationsReference }}
{{ else if eq $docsVersion "2.12" }}
{{ $data = (index site.Data "cli-2-12").AnnotationsReference }}
{{ else if eq $docsVersion "2.13" }}
{{ $data = (index site.Data "cli-2-13").AnnotationsReference }}
{{ else if eq $docsVersion "2.14" }}
{{ $data = (index site.Data "cli-2-14").AnnotationsReference }}
{{ else if eq $docsVersion "2.15" }}
{{ $data = (index site.Data "cli-2-15").AnnotationsReference }}
{{ else if eq $docsVersion "2-edge" }}
{{ $data = (index site.Data "cli-2-edge").AnnotationsReference }}
{{ end }}
<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Annotation
        </th>
        <th>
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      {{ range sort $data "Name" }}
      {{ partial "cli/annotations" . }}
      {{ end }}
    </tbody>
  </table>
</div>
