{{ $docsVersion := index (split .Page.RelPermalink "/") 1 }}
{{/* the index function doesn't accept variables */}}
{{ $data := (index site.Data "cli").CLIReference }}
{{ if eq $docsVersion "2-edge" }}
{{ $data = (index site.Data "cli-2-edge").CLIReference }}
{{ else if eq $docsVersion "2.10" }}
{{ $data = (index site.Data "cli-2-10").CLIReference }}
{{ else if eq $docsVersion "2.11" }}
{{ $data = (index site.Data "cli-2-11").CLIReference }}
{{ else if eq $docsVersion "2.12" }}
{{ $data = (index site.Data "cli-2-12").CLIReference }}
{{ else if eq $docsVersion "2.13" }}
{{ $data = (index site.Data "cli-2-13").CLIReference }}
{{ else if eq $docsVersion "2.14" }}
{{ $data = (index site.Data "cli-2-14").CLIReference }}
{{ else if eq $docsVersion "2.15" }}
{{ $data = (index site.Data "cli-2-15").CLIReference }}
{{ else if eq $docsVersion "2.16" }}
{{ $data = (index site.Data "cli-2-16").CLIReference }}
{{ end }}
{{ range where $data "Name" (.Get 0) }}
{{ $desc := partial "cli/description" . }}
{{ $isParagraph := hasPrefix (strings.TrimLeft "\n" $desc) "<p>" }}
{{ cond $isParagraph "" "<p>" | safeHTML }}
{{ $desc }}
{{ cond $isParagraph "" "</p>" | safeHTML }}
{{ end }}
