{{ $docsVersion := index (split .Page.URL "/") 1 }}
{{/* the index function doesn't accept variables */}}
{{ $data := (index site.Data "cli").CLIReference }}
{{ if eq $docsVersion "2.10" }}
{{ $data = (index site.Data "cli-2-10").CLIReference }}
{{ else if eq $docsVersion "2.11" }}
{{ $data = (index site.Data "cli-2-11").CLIReference }}
{{ else if eq $docsVersion "2.12" }}
{{ $data = (index site.Data "cli-2-12").CLIReference }}
{{ else if eq $docsVersion "2.13" }}
{{ $data = (index site.Data "cli-2-13").CLIReference }}
{{ else if eq $docsVersion "2.14" }}
{{ $data = (index site.Data "cli-2-14").CLIReference }}
{{ end }}
{{ range where $data "Name" (.Get 0) }}
{{ $opts := where .Options "Name" "!=" "help" }}
{{ if ge (len $opts) 1 }}
<h2>Flags</h2>
{{ partial "cli/flags" $opts }}
{{ end }}
{{ end }}
