{{ define "main" }}
<div class="wrapper has-background-white not-found">
  <div class="columns center-column is-marginless is-fullwidth rounded-block">
    <div class="column has-background-grey-light">
      <figure class="image center">
        <img
          {{ partial "src.html" (dict "img" "/uploads/404.png") | safeHTMLAttr }}
          alt="404"
          style="max-width: 352px;" />
      </figure>
      <h6 class="title is-6 has-text-weight-bold is-uppercase has-text-centered has-proxima-font">The page you are looking for can’t be found.</h6>
      <div class="container columns center buttons">
        <div class="column right">
          <a href="/" class="button is-large is-primary">Go Home</a>
        </div>
        <div class="column">
        <button id="goToPrevPage" class="button is-large">Previous Page</button>
        </div>
      </div>
    </div>
    <div class="column rounded-block-helper has-background-grey-light"></div>
  </div>
</div>
<img src="/uploads/circle.svg" alt="Curve line" class="curve" />
{{ $js := resources.Get "js/not-found.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.Permalink }}"></script>
{{ end }}
