<div class="wrapper has-background-white about-linkerd">
  <div class="container columns is-multiline is-variable is-6-desktop is-8-widescreen">
		<div class="column is-10 is-offset-1">
			<h2 class="title has-text-navy-black py-5">What is Linkerd?</h2>
		</div>
		<div class="column is-10 is-offset-1">
			<figure class="image is-16by9">
				<iframe class="has-ratio is-16by9" width="1280" height="720" src="https://www.youtube.com/embed/up3fKwXdEgc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</figure>
		</div>
	</div>
</div>
