<div class="wrapper has-background-white ">
  <div class="container pt-6 pb-2 cta-bouyant">
    <div class="container">
      <div class="has-text-centered pt-4 block-created-by">
        <p class="has-text-weight-medium has-text-color">{{ .textcreated }} </p>
        <figure class="image">
          <img {{ partial "src.html" (dict "img" .image) | safeHTMLAttr }} alt="{{ .caption }}" class="" />
        </figure>
      </div>
    </div>
    <div class="container">
      <div class="column has-text-centered">
        <a href="{{.url}}" target="_blank" class="button is-primary is-large cta-bouyant-button">
        {{ .caption }}
        </a>
      </div>
    </div>
  </div>
</div>
