<div class="wrapper featured-blogs">
	<div class="container columns is-multiline py-6">
		<div class="column is-full has-text-centered has-text-dark-grey">
			<h2 class="has-text-weight-light py-5 is-uppercase featured-blogs__heading">FEATURED BLOG POSTS</h2>
		</div>
		{{ range first 2 ( where (where .Site.Pages "Type" "blog") ".Params.featured" "=" true )}}
		<div class="column is-half related-card">
			<a class="has-text-color" href="{{ .RelPermalink }}">
				<div class="card">
					<div class="card-image">
						{{ if .Params.thumbnail }}
						<figure class="image level-item">
							<img {{ partial "src.html" (dict "img" .Params.thumbnail) | safeHTMLAttr }} alt="featured image" />
						</figure>
						{{ else }}
						<figure class="image placeholder is-3by1">
							<img src="/images/linkerd_mark_grid_large.svg" alt="placeholder" />
						</figure>
						{{ end }}
					</div>
					<div class="card-content">
						<div class="content">
							<div class="level is-marginless is-mobile related-card-header">
								<div class="level-left">
									{{if eq .Type "blog"}}
									<span class="level-item">{{ partial "readingtime.html" . }}</span>
									{{else}}
									<span class="level-item">{{ ($.Scratch.Get "type") }}</span>
									{{ end }}
								</div>
								<div class="level-right">
									<span class="level-item">{{ .PublishDate.Format "Jan 2, 2006"}}</span>
								</div>
							</div>
							<h3 class="title is-3 is-marginless">
								{{ .Params.title }}
							</h3>
						</div>
						<footer class="card-footer">
							<div class="card-footer-item has-text-grey-dark">
								<figure class="image is-32x32">
									{{ $authorId := .Param "author" }}
			          	{{ $author := (index $.Site.Data.authors $authorId)}}
									{{ if $author.avatar }}
									<img {{ partial "src.html" (dict "img" $author.avatar "class" "is-rounded") | safeHTMLAttr }}
									alt="{{ $author.name }}" />
									{{ else }}
									<img src="/images/identity/svg/linkerd_mark_grid_small.svg" alt="author avatar" class="is-rounded" />
									{{ end }}
								</figure>
								<div class="has-text-dark-grey">{{ $author.name }}</div>
							</footer>
						</div>
					</div>
				</a>
			</div>
		{{ end }}
	</div>
</div>
