<div class="wrapper kubernetes has-background-white">
  <div class="linkerd-logo">
    <figure class="image center-column">
      <img
        {{ partial "src.html" (dict "img" .logo) | safeHTMLAttr }}
        alt="Linkerd logo" />
    </figure>
  </div>
  <div class="columns center-column is-marginless is-fullwidth rounded-block top-round">
    <div class="column has-background-grey-light kubernetes-content">
      <div class="container columns content is-marginless is-multiline">
        <div class="columns is-centered is-full is-hidden-mobile">
          <div class="column">
            <div
              id="asciicast-container-227055"
              class="asciicast"
              style="display: block; float: none; overflow: hidden; padding: 0px; margin: 20px 0px;">
              <iframe
                data-src="https://asciinema.org/a/227055/embed?cols=80&amp;rows=25"
                id="asciicast-iframe-227055"
                name="asciicast-iframe-227055"
                scrolling="no"
                allowfullscreen="true"
                class="lazyload"
                style="overflow: hidden; margin: 0px; border: 0px; display: inline-block; width: 590px; float: none; visibility: visible; height: 435px;"></iframe>
            </div>
          </div>
        </div>
        <div class="column center is-full">
          <div class="notification is-paddingless">
            <h1 class="title center">{{.title}}</h1>
            <h3 class="title is-3">{{.description | markdownify}}</h3>
          </div>
        </div>
        <div class="columns is-mobile is-multiline is-centered">
          {{ range .buttons}}
          <div class="column is-narrow">
            <a href="{{.url}}" class="button is-primary is-large">{{.caption}}</a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="column rounded-block-helper has-background-grey-light"></div>
  </div>
</div>
