<div class="wrapper has-background-bright-blue">
  <div class="container">
    <div class="container columns is-multiline is-centered is-mobile is-narrow is-vcentered">
      <div class="column has-text-centered has-text-white is-half-mobile stats-list-item">
        <div class="is-size-1">
          6+
        </div>
        <div class="is-size-6">
          Years in production
        </div>
      </div>
      <div class="column has-text-centered has-text-white is-half-mobile stats-list-item">
        <div class="is-size-1">
          8,500+
        </div>
        <div class="is-size-6">
          Slack channel members
        </div>
      </div>
      <div class="column has-text-centered has-text-white is-half-mobile stats-list-item">
        <div class="is-size-1">
          10,000+
        </div>
        <div class="is-size-6">
          GitHub stars
        </div>
      </div>
      <div class="column has-text-centered has-text-white is-half-mobile stats-list-item">
        <div class="is-size-1">
          200+
        </div>
        <div class="is-size-6">
          Contributors
        </div>
      </div>
    </div>
  </div>
</div>
