<div class="wrapper body-header has-background-white homepage-top-hero">
  <div class="container columns">
    <div class="column">

      <div class="notification">
        <h1 class="title is-size-1 mb-5">{{.title}}</h1>
        <h5 class="title is-size-5 mb-5">{{.description | markdownify}}</h5>
        <div class="columns is-5 is-variable">
          {{ range .buttons }}
          <div class="column is-narrow">
            <a href="{{.url}}" class="button is-fullwidth {{.classname}}">
              {{.caption}}
            </a>
          </div>
          {{ end }}
        </div>
      </div>

    </div>
  </div>
  <div class="linky">
    <img src="/images/linky.svg" alt="Linky">
  </div>
</div>
