<div class="wrapper has-background-light-blue tweets">
  <div class="container">
    <h2 class="title is-size-1 center has-text-color has-text-centered-mobiledropdown navigation">{{.Tweets.title}}</h2>
    <div class="columns is-mobile is-multiline is-centered is-marginless">
      {{ range .Tweets.tweets }}
        <div class="column is-narrow is-11-mobile">
          {{ template "_internal/shortcodes/twitter.html" (dict "Params" (slice .) "Page" $.Page) }}
        </div>
      {{ end }}
    </div>
  </div>
</div>