<div class="container column adopters-case-studies">
  <div class="columns column is-multiline">
      {{ range . }}
      <div class="column is-6">
        <div class="box px-5 py-5 community-card">
          <figure class="image mb-5">
            <img src="{{ .image }}" alt="{{ .alt }}">
          </figure>
          <div>
            <h3 class="is-size-5 has-text-weight-bold mb-2">{{ .title }}</h3>
            <p class="has-text-weight-light mb-5 adopters-case-studies__quote">{{ .description }} ...</p>
            <a class="button is-link" href="{{ .link }}" target="_blank">Read case study</a>
          </div>
        </div>
      </div>
      {{ end }}
  </div>
</div>
