{{ define "main" }}
<div class="wrapper has-background-bright-blue has-text-white has-text-centered">
  <div class="container notification has-background-bright-blue platform-top-hero">
    {{.Content}}

    <div class="version-title">LINKERD 2.x</div>
    <div class="columns is-multiline platform-columns">
      {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/getting-started/" ) "title" "Kubernetes" "thumbnail" "/images/kubernetes.svg") }}
    </div>

    <div class="version-title">LINKERD 1.x</div>
    <div class="columns is-multiline platform-columns">
      {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/k8s.md" ) "title" "Kubernetes" "thumbnail" "/images/kubernetes.svg") }}
      {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/ecs.md" ) "title" "AWS ECS" "thumbnail" "/images/awsecs.svg") }}
      {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/dcos.md" ) "title" "DC/OS" "thumbnail" "/images/dcos.svg") }}
      {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/docker.md" ) "title" "Docker" "thumbnail" "/images/docker.svg") }}
      {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/locally.md" ) "title" "Local" "thumbnail" "/images/local.svg") }}
    </div>
  </div>
</div>
{{ end }}
