@use "../abstracts";

/*
@markup
<span class="badge">Text</span>
*/

.badge {
  display: inline-block;
  padding: abstracts.size(1) abstracts.size(3);
  background-color: abstracts.$green;
  border-radius: 999px;
  font-size: abstracts.$font-size-sm;
}
