@use "../abstracts";

/*
@markup
<svg class="icon">
  ...
</svg>
*/

.icon {
  display: inline-block;
  vertical-align: middle;
  width: abstracts.icon-size("md");
  height: abstracts.icon-size("md");

  path {
    fill: currentColor;
  }

  // @options

  &.icon--primary {
    path {
      fill: abstracts.$primary-color;
    }
  }
  &.icon--secondary {
    path {
      fill: abstracts.$secondary-color;
    }
  }
  &.icon--info {
    path {
      fill: abstracts.$info-color;
    }
  }
  &.icon--success {
    path {
      fill: abstracts.$success-color;
    }
  }
  &.icon--warning {
    path {
      fill: abstracts.$warning-color;
    }
  }
  &.icon--danger {
    path {
      fill: abstracts.$danger-color;
    }
  }
  &.icon--current {
    path {
      fill: currentColor;
    }
  }
  &.icon--xs {
    width: abstracts.icon-size("xs");
    height: abstracts.icon-size("xs");
  }
  &.icon--sm {
    width: abstracts.icon-size("sm");
    height: abstracts.icon-size("sm");
  }
  &.icon--md {
    width: abstracts.icon-size("md");
    height: abstracts.icon-size("md");
  }
  &.icon--lg {
    width: abstracts.icon-size("lg");
    height: abstracts.icon-size("lg");
  }
  &.icon--xl {
    width: abstracts.icon-size("xl");
    height: abstracts.icon-size("xl");
  }
}
