@use "sass:color";
@use "../abstracts";

/*
@markup
<a class="icon-button">
  <svg class="icon">
    ...
  </svg>
</a>
*/

.icon-button {
  display: inline-block;
  padding: abstracts.size(2);
  border-radius: abstracts.$border-radius;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover,
  &:active {
    background-color: abstracts.$light-blue;
  }
  .icon {
    display: block;
  }

  // @options

  &.icon-button--primary {
    background-color: abstracts.$blue;

    &:hover,
    &:active {
      background-color: abstracts.shade-color(abstracts.$blue, 20%);
    }
  }
  &.icon-button--secondary {
    background-color: abstracts.$green;

    &:hover,
    &:active {
      background-color: color.adjust(abstracts.$green, $lightness: -15%);
    }
  }
  &.icon-button--primary,
  &.icon-button--secondary {
    .icon {
      path {
        fill: abstracts.$white;
      }
    }
  }
}
