/*
@markup
<figure class="img-ratio img-ratio--16x9">
  <img>
</figure>
*/

.img-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; // Default to 16x9
  overflow: hidden;

  img,
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  // @options
  
  &.img-ratio--4x3 {
    padding-bottom: 75%;
  }
  &.img-ratio--16x9 {
    padding-bottom: 56.25%;
  }
  &.img-ratio--4x1 {
    padding-bottom: 25%;
  }
}
