@use "../abstracts";

/*
@markup
<table class="keyval">
  ...
</table>
*/

.keyval {
  // Override base styles
  tr {
    background-color: abstracts.$light-gray;
  }
  th:nth-child(1),
  td:nth-child(1) {
    background-color: abstracts.$light-blue;
    border-right: solid 1px abstracts.$border-color;

    code:not([class^=lang]) {
      // Override base styles
      padding: 0;
      background-color: transparent;
      mix-blend-mode: normal;

      @media (min-width: abstracts.breakpoint-min-width("lg")) {
        white-space: nowrap;
      }
    }
  }
}
