@use "../abstracts";

/*
@markup
<div class="page">
  <div class="page__container">
    ...
  </div>
</div>
*/

.page {
  padding: abstracts.size(7) 0;
  background-color: abstracts.$offwhite;
  background-image: linear-gradient(abstracts.$light-blue, abstracts.$offwhite);
  background-size: 100% 200px;
  background-repeat: no-repeat;
}
