<div class="">
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Linkerd 1.x
      </a>
      <div class="navbar-dropdown">
        <div class="navbar-item">
          Linkerd 1.x
        </div>
        <a class="navbar-item" href="/1/overview/">
          {{ site.Params.latest_release_version }}
        </a>
        <div class="navbar-item">
          Linkerd 2.x
        </div>
        <a class="navbar-item" href="/2.9/overview/">
          Linkerd 2.9
        </a>
        <a class="navbar-item" href="/2.10/overview/">
          Linkerd 2.10
        </a>
        <a class="navbar-item" href="/2.11/overview/">
          Linkerd 2.11
        </a>
        <a class="navbar-item" href="/2.12/overview/">
          Linkerd 2.12
        </a>
        <a class="navbar-item" href="/2.13/overview/">
          Linkerd 2.13
        </a>
        <a class="navbar-item" href="/2.14/overview/">
          Linkerd 2.14
        </a>
        <a class="navbar-item" href="/2.15/overview/">
          Linkerd 2.15
        </a>
        <a class="navbar-item" href="/2.16/overview/">
          Linkerd 2.16
        </a>
      </div>
    </div>
  </nav>
  <aside class="menu">
    <ul class="menu-list is-paddingless is-marginless">
      {{ $currentPage := .page }}
      {{ range index site.Menus .menu }}
      {{ $shouldExpand :=  or ($currentPage.IsDescendant .Page) (eq .URL $currentPage.RelPermalink) }}
      <li class="menu-list-item {{ if $shouldExpand }}is-active{{ end }}">
        <a href="{{ .URL }}" class="{{ if $shouldExpand }}is-active{{ end }}">
          {{ .Name }}
        </a>
        <ul class="menu-list is-paddingless is-marginless">
          {{ if eq .Name "Configuration" }}
          <li><a href="https://api.linkerd.io/latest/linkerd">Linkerd</a></li>
          <li><a href="https://api.linkerd.io/latest/namerd">namerd</a></li>
          {{ end }}
          {{ if .HasChildren }}
          {{ range sort .Children "Name" }}
          {{ $active := eq .URL $currentPage.RelPermalink }}
          <li class="menu-list-item">
            <a href="{{ .URL }}" class="{{ if $active }}is-active{{ end }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </aside>

  <hr class="hr">
  <div class="sidebar-social">
    <div>
      <a class="" href="https://slack.linkerd.io" target="_blank">
        <img style="height:24px;" src="/images/slack.svg" alt="Slack">
      </a>
    </div>
    <div>
      <a class="" href="https://linkerd.buoyant.io" target="_blank">
        <img style="height:24px; vertical-align: middle;" src="/images/identity/png/transparent_background/2x/forum_dark@2x.png" alt="FORUM">
      </a>
    </div>
  </div>
</div>
