{{ $pathN         := len (split .ctx.File.Path "/") }}
{{ $isSectionPage := eq .ctx.File.LogicalName "_index.md"}}

{{ if or (not $isSectionPage) (gt $pathN 3) }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ if or (and (eq $pathN 3) (not $isSectionPage)) (and (eq $pathN 4) $isSectionPage) }}
    <li class="breadcrumb-item"><a href="{{ .ctx.Parent.URL }}">{{ .ctx.Parent.Title }}</a></li>
    {{ end }}

    {{ if and (eq $pathN 4) (not $isSectionPage) }}
    <li class="breadcrumb-item"><a href="{{ .ctx.Parent.Parent.URL }}">{{ .ctx.Parent.Parent.Title }}</a></li>
    <li class="breadcrumb-item"><a href="{{ .ctx.Parent.URL }}">{{ .ctx.Parent.Title }}</a></li>
    {{ end }}

    <li class="breadcrumb-item active" aria-current="page">{{ .ctx.Title }}</li>
  </ol>
</nav>
{{ end }}