<div class="row">
  <div class="col text-center">
    <h2>Choose your platform</h2>
  </div>
</div>

{{ .Content }}

<h4> Linkerd 2.x </h4>
<div class="row justify-content-center">
  <a href='{{ relref . "/getting-started" }}' class="col-md-6">
    <img class="w-100"
      src="/images/get_started_kubernetes_rect@2x.png"
      alt="Get started with Kubernetes">
  </a>
</div>

<h4> Linkerd 1.x </h4>

<div class="row">
  <a href='{{ relref . "/1/getting-started/k8s.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_kubernetes_rect@2x.png"
      alt="Get started with Kubernetes">
  </a>

  <a href='{{ relref . "/1/getting-started/ecs.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_ecs_rect@2x.png"
      alt="Get started with ECS">
  </a>

  <div class="w-100"></div>

  <a href='{{ relref . "/1/getting-started/dcos.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_dcos_rect@2x.png"
      alt="Get started with DC/OS">
  </a>

  <a href='{{ relref . "/1/getting-started/docker.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_docker_rect@2x.png"
      alt="Get started with Docker">
  </a>

  <a href='{{ relref . "/1/getting-started/locally.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_local_rect@2x.png"
      alt="Get started locally">
  </a>
</div>
