<div class="container">
  <div class="row">
    <div class="col-md-3 pt-5">
      {{ partial "sidebar.html" . }}
    </div>

    <div class="col-md-9 border-left docs-content">
      <h1 class="title display-4 mb-4">{{ .page.Title }}</h1>
      <div class="content language-markup">
        {{ if .page.Params.include_toc }}
        {{ .page.TableOfContents }}
        {{ end }}
        {{ .page.Content }}
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js" integrity="sha256-m1eTvwEHwmsw4+XKF7BshClVJEPwTVycveNl0CS0Mkk=" crossorigin="anonymous"></script>
<script>
  anchors.add();
</script>
