{{ $docsVersion := index (split .page.URL "/") 1 }}
<div class="wrapper docs">
  <div class="columns is-fullwidth is-gapless is-tablet">
    <div class="column has-background-light-gray docs-sidebar-container is-paddingless is-narrow is-one-third-fullhd is-full-mobile is-narrow-tablet">
      <div class="docs-sidebar">
        {{ partial (printf "%s/%s" $docsVersion "sidebar") . }}
      </div>
    </div>
    <div class="column has-background-white docs-content is-paddingless ">
      <div class="container blog-content-container">
        {{/*  {{ partial "breadcrumb.html" (dict "version" $docsVersion "ctx" .page) }}  */}}

        {{ if eq $docsVersion "1" }}
          <div class="message">
            <div class="message-header">
              This is not the latest version
            </div>
            <div class="message-body">
	      This documentation is for Linkerd 1.x, an older version with some
              significant differences. You may want to see the
              <a href="/2.10/overview/">Linkerd 2.x (current) documentation</a> instead.
            </div>
           </div>
        {{ else if ne $docsVersion "2.10" }}
          <div class="message">
            <div class="message-header">
              This is not the latest version
            </div>
            <div class="message-body">
	      This documentation is not for the latest version of Linkerd.
	      You may want the <a href="/2.10/overview/">Linkerd 2.10 (current)
              documentation</a> instead.
            </div>
          </div>
        {{ end }}

        <h1 class="title is-1 has-text-color">{{ .page.Title }}</h1>


        <div class="language-markup">
          {{ if .page.Params.include_toc }}
          {{ .page.TableOfContents }}
          {{ end }}
          {{ .page.Content }}
        </div>
      </div>
    </div>
  </div>
</div>
