{{ .Content }}

<div class="row">
  <div class="col text-center">
    <h3>Get Linkerd up and running in just a few minutes. Select an environment to get started.</h3>
  </div>
</div>

<div class="row pt-5">
  <a href='{{ ref . "2/getting-started.md" }}' class="col">
    <img class="w-100" src="/images/get_started_kubernetes_rect@2x.png">
  </a>

  <a href='{{ ref . "1/getting-started/dcos.md" }}' class="col">
    <img class="w-100" src="/images/get_started_dcos_rect@2x.png">
  </a>

  <div class="w-100"></div>

  <a href='{{ ref . "1/getting-started/docker.md" }}' class="col">
    <img class="w-100" src="/images/get_started_docker_rect@2x.png">
  </a>

  <a href='{{ ref . "1/getting-started/ecs.md" }}' class="col">
    <img class="w-100" src="/images/get_started_ecs_rect@2x.png">
  </a>
</div>
