{{ $latestVersion := site.Params.latest_linkerd2_stable_version }}
{{ $pathParts := split .page.File.Path "/" }}
{{ $docsVersion := index $pathParts 0 }}
{{ $latestDocsPath := delimit (append (after 1 $pathParts) (slice "" $latestVersion)) "/" }}

<div class="wrapper docs">
  <div class="columns is-fullwidth is-gapless is-tablet">
    <div class="column has-background-light-gray docs-sidebar-container is-paddingless is-narrow is-one-third-fullhd is-full-mobile is-narrow-tablet">
      <div class="docs-sidebar">
        {{ if eq $docsVersion "1" }}
          {{ partial "1/sidebar" . }}
        {{ else }}
          {{ partial "sidebar-2" . }}
        {{ end }}
      </div>
    </div>
    <div class="column has-background-white docs-content is-paddingless ">
      <div class="container blog-content-container">
        {{/*  {{ partial "breadcrumb.html" (dict "version" $docsVersion "ctx" .page) }}  */}}

        {{ if eq $docsVersion "1" }}
          <div class="message">
            <div class="message-header">
              This is not the latest version of Linkerd!
            </div>
            <div class="message-body">
	      This documentation is for Linkerd 1.x, an older version with some
              significant differences. You may want to see the
              <a href="/docs/">Linkerd 2.x (current) documentation</a> instead.
            </div>
           </div>
        {{ else if and (hasPrefix $docsVersion "2") (ne $docsVersion $latestVersion) (ne $docsVersion "2-edge") }}
          <div class="message">
            <div class="message-header">
              This is not the latest version of Linkerd!
            </div>
            <div class="message-body">
	      This documentation is for an older version of Linkerd.
              {{ if (fileExists $latestDocsPath) }}
	        You may want the <a href="{{ relref .page $latestDocsPath }}">Linkerd {{ $latestVersion }} (current)
                documentation</a> instead.
              {{ else }}
                In Linkerd {{ $latestVersion }} (current), this document no longer exists.
              {{ end }}
            </div>
          </div>
          {{ else if eq $docsVersion "2-edge" }}
          <div class="message">
            <div class="message-header">
              This is not the stable version of Linkerd!
            </div>
            <div class="message-body">
	            This documentation is for the <a href="/releases/">edge</a> release of Linkerd.
              {{ if (fileExists $latestDocsPath) }}
	              You may want the <a href="{{ relref .page $latestDocsPath }}">Linkerd {{ $latestVersion }} (current)
                documentation</a> instead.
              {{ else }}
                In Linkerd {{ $latestVersion }} (current), this document does not exist.
              {{ end }}
            </div>
          </div>
        {{ end }}

        <h1 class="title is-1 has-text-color">{{ .page.Title }}</h1>


        <div class="language-markup">
          {{ if .page.Params.include_toc }}
          {{ .page.TableOfContents }}
          {{ end }}
          {{ .page.Content }}
        </div>
      </div>
    </div>
  </div>
</div>
