{{ $docsVersion := index (split .page.URL "/") 1 }}
<div class="wrapper docs">
  <div class="columns is-fullwidth is-gapless is-tablet">
    <div class="column has-background-light-gray docs-sidebar-container is-paddingless is-narrow is-one-third-fullhd is-full-mobile is-narrow-tablet">
      <div class="docs-sidebar">
        {{ partial "sidebar-2" . }}
      </div>
    </div>
    <div class="column has-background-white docs-content is-paddingless ">
      <div class="container blog-content-container">
        <h1 class="title is-1 has-text-color">{{ .page.Title }}</h1>

      {{/*  {{ partial "breadcrumb.html" (dict "version" $docsVersion "ctx" .page) }}
      */}}

      {{ if eq $docsVersion "1" }}
        <div class="message-body">
          <div>
            <strong>Note</strong>
          </div>

          This documentation is for Linkerd 1.x, an older version with some significant differences. You may want to see the
          <a href="/docs/">Linkerd 2.x (current) documentation</a>
          instead.
        </div>

      {{ end }}

      <div class="language-markup">
        <nav id="TableOfContents">
          <ul>
            {{ range .page.Params.faqs}}
              <li>
                <a href="#{{ .question | anchorize }}">{{ .question }}</a>
              </li>
            {{ end}}
          </ul>
        </nav>

        {{ range .page.Params.faqs}}
          <h2 id="{{.question|anchorize}}">{{ .question }}</h2>
          <p>{{ .answer | markdownify }}</p>
        {{ end }}

      </div>
    </div>
  </div>
</div>
</div>
