{{ $flags   := .flags }}
{{ $example := .example }}
<table class="table pure-table table-hover table-responsive table-striped">
  <thead>
    <tr>
      <th>
        Usage
      </th>
      <th>
        Description
      </th>
      <th>
        Default
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $flags }}
    {{ $arg := .arg }}
    <tr>
      <td class="cli">
        <code>--{{ .name }}</code>

        {{ with .shorthand }}
        ,&nbsp;<code>-{{ . }}</code>
        {{ end}}
      </td>
      <td>
        {{ .usage | markdownify }}
      </td>
      <td>
        {{ with .default_value }}
        <code>{{ . }}</code>
        {{ end }}
      </td>
      {{ end }}
    </tr>
  </tbody>
</table>
