{{ $flags := . }}
{{ $hasExamples := gt (len (where $flags ".example" "!=" nil)) 0 }}
<table class="table pure-table table-hover table-responsive table-striped">
  <thead>
    <tr>
      <th>
        Usage
      </th>
      <th>
        Description
      </th>
      {{ if $hasExamples }}
      <th>
        Example
      </th>
      {{ end }}
      <th>
        Default
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $flags }}
    {{ $arg := .arg }}
    <tr>
      <td class="cli">
        {{ range $index, $name := .names }}
          {{ if (ne $index 0) }}
            <br />

          {{ end }}
          <kbd>{{ $name }}{{ with $arg }}=<strong>{{ . }}</strong>{{ end }}</kbd>
        {{ end }}
      </td>
      <td>
        {{ .description | markdownify }}
      </td>
      {{ if $hasExamples }}
      {{ $example := .example }}
      {{ $name    := .name }}
      {{ $names   := .names }}
      <td class="cli">
        {{ with $example }}
        <kbd>{{ index $names 0 }}=<strong>{{ $example }}</strong></kbd>
        {{ end }}
      </td>
      {{ end }}
      <td class="cli">
        {{ if (isset . "default") }}
        <code>{{ .default }}</code>
        {{ end}}
      </td>
    </tr>
    {{ end}}
  </tbody>
</table>
