{{ $isHome   := .IsHome }}
{{ $filepath := .File.Path }}
{{ $editUrl  := printf "https://github.com/linkerd/website/edit/main/linkerd.io/content/%s" $filepath }}
<div class="border-top">
  <footer class="container">
    <div class="row my-5">
      <div class="col-md-6 pb-3">
        {{ if $isHome }}
        <a class="btn btn-dark" href="https://github.com/linkerd/website/tree/main/linkerd.io/content">
          <i class="fab fa-github"></i>&nbsp;Edit this site
        </a>
        {{ else }}
        <a class="btn btn-dark" href="{{ $editUrl }}">
          <i class="fab fa-github"></i>&nbsp;Edit this page
        </a>
        {{ end }}
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled text-md-right">
          <li class="pb-3">
            <img
              alt="Linkerd Logo"
              src="/images/identity/svg/linkerd_primary_color_gray.svg"
              href="https://linkerd.io/"
              width="200">
          </li>
          <li class="my-auto">© 2019 Linkerd Authors. All rights reserved.</li>
        </ul>
      </div>
    </div>
  </footer>
</div>
