<footer class="hero-foot">
  <div class="wrapper is-paddingless footer-links has-background-white">
    <div class="container columns">
      <div class="column buoyant-info">
        <figure class="image logo">
          <img src="{{$.Site.Params.logo}}" alt="logo" />
        </figure>
        <p class="buoyant-email is-size-5">
          <p>
            Linkerd was originally created by Buoyant, Inc.
            View Code of Conduct </p>
          <p>
            View<a class="has-text-color" target="_blank"
              href="https://github.com/linkerd/linkerd/wiki/Linkerd-code-of-conduct">Code of Conduct</a>
          </p>
        </p>
        <div class="social-links-container left">

        </div>
      </div>
      <div class="column is-one-third is-hidden-touch">
        <div class="columns">
          <div class="column is-one-thirds list-of-links">
            <p class="title is-6 has-text-color is-uppercase">Community</p>
            {{ $currentPage := . }}
            {{ range.Site.Menus.community }}
            <p>
              <a href="{{ .URL }}" target="_blank" class="has-text-color"><span
                  class="navbar-item-helper">{{ .Name }}</span></a>
            </p>
            {{ end }}
          </div>
          <div class="column is-one-thirds list-of-links">
            <h6 class="title is-6 has-text-color is-uppercase">Follow</h6>
            {{ range.Site.Menus.follow }}
            <p>
              <a href="{{ .URL }}" class="has-text-color">
                <span class="navbar-item-helper">{{ .Name }}</span>
              </a>
            </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="is-paddingless has-background-light-green">
    <div class="container columns footer has-background-light-green">
      <p class="column is-narrow">
        <a href="https://github.com/linkerd/website/tree/master/linkerd.io/content"
          class="has-text-weight-semibold">Edit This Site</a>
      </p>
      <p class="column">© {{ now.Year }} Linkerd Authors. All rights reserved.</p>
    </div>
  </div>
</footer>