<footer class="hero-foot">
  <div class="wrapper is-paddingless footer-links has-background-white">
    <div class="container columns">
      <div class="column buoyant-info has-text-centered-mobile">
        <figure class="image logo">
          <img src=/images/identity/svg/linkerd_primary_color_black.svg alt="logo" />
        </figure>
        <p class="has-text-dark-grey">
          Linkerd was originally created by <a class="" target="_blank" href="https://buoyant.io/">Buoyant</a>
        </p>
        <p class="has-text-dark-grey">
          View <a class="" target="_blank" href="https://github.com/linkerd/linkerd/wiki/Linkerd-code-of-conduct">Code
            of Conduct</a>
        </p>
      </div>
      <div class="column is-one-third has-text-centered-mobile">
        <div class="columns is-mobile is-centered">
          <div class="column is-one-half list-of-links">
            <p class="has-text-weight-bold">Community</p>
            {{ $currentPage := . }}
            {{ range.Site.Menus.community }}
            <p>
              <a href="{{ .URL }}" target="_blank" class="has-text-color has-text-weight-light"><span
                  class="navbar-item-helper">{{ .Name }}</span></a>
            </p>
            {{ end }}
          </div>
          <div class="column is-one-thirds list-of-links">
            <p class="has-text-weight-bold">Follow</p>
            {{ range.Site.Menus.follow }}
            <p>
              <a href="{{ .URL }}" class="has-text-color has-text-weight-light">
                <span class="navbar-item-helper">{{ .Name }}</span>
              </a>
            </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="is-paddingless has-background-navy-black">
    <div class="container columns footer has-background-navy-black">
      <p class="column is-narrow">
        <a href="https://github.com/linkerd/website/tree/main/linkerd.io/content" class="">Edit This Site</a>
      </p>
      <p class="column has-text-white">Copyright © {{ now.Year }} Linkerd Authors. All rights reserved.</p>
      <img alt="scarf" referrerpolicy="no-referrer-when-downgrade" src="https://static.scarf.sh/a.png?x-pxid=134c11a9-d08b-45e0-8cc9-d1ed96a92343" />
    </div>
  </div>
</footer>
