<div class="border-top">
  <footer class="container">
    <div class="row my-5">
      <div class="col-md-6 pb-3">
	<a href="https://github.com/linkerd/website">(edit this site)</a>
        <!-- <ul class="list-unstyled">
          <li>
            <a href="{{ relref . "/2/getting-started/_index.md" }}"
              class="btn btn-outline-primary">
              Get Started
            </a>
          </li>
        </ul>
-->
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled text-md-right">
          <li class="pb-3">
            <img
              alt="Linkerd Logo"
              src="/images/identity/svg/linkerd_primary_color_gray.svg"
              href="https://linkerd.io/"
              width="200">
          </li>
          <li class="my-auto">© 2019 Linkerd Authors. All rights reserved.</li>
        </ul>
      </div>
    </div>
  </footer>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/prism.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
<!-- For GitHub stat counts. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
  // Provide lightbox functionality for the figures and gallery
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>

<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
  analytics.load("bNkUVlprW8hKE72fgjKIEm9FI6pOzhT4");
  analytics.page();
  }}();
</script>
