{{ .Content }}

<div class="row">
  <div class="col-md-5">
    <h1>Get started</h1>
    <p>Get Linkerd up and running in just a few minutes. This section addresses running Linkerd in common environments.</p>
    <p>Select an environment to get started:</p>
  </div>
  <div class="col-md-7 text-center">
    <a href="/1/getting-started/">
      <img src="/images/get_started.svg" width="200" alt="Get started">
    </a>
  </div>
</div>

<div class="row pt-5">
  <a href='{{ relref . "/1/getting-started/locally.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_local_rect@2x.png"
      alt="Get started locally">
  </a>

  <a href='{{ relref . "/1/getting-started/k8s.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_kubernetes_rect@2x.png"
      alt="Get started with Kubernetes">
  </a>

  <a href='{{ relref . "/1/getting-started/dcos.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_dcos_rect@2x.png"
      alt="Get started with DC/OS">
  </a>

  <div class="w-100"></div>

  <a href='{{ relref . "/1/getting-started/docker.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_docker_rect@2x.png"
      alt="Get started with Docker">
  </a>

  <a href='{{ relref . "/1/getting-started/ecs.md" }}' class="col">
    <img class="w-100"
      src="/images/get_started_ecs_rect@2x.png"
      alt="Get started with ECS">
  </a>

  <div class="col"></div>
</div>
