{{ .Content }}

<div class="columns">
  <div class="column">
    <h1>Get started (Linkerd 1.x)</h1>

    <div class="message-body">
      <div><strong>Note</strong></div>

      This documentation is for Linkerd 1.x, an older version with some
      significant differences. You may want to see the
      <a href="/docs/">Linkerd 2.x (current) documentation</a> instead.
   </div>

<p>Get Linkerd 1.x up and running in just a few minutes. This section addresses running Linkerd in common environments.
</p>
<p>Select an environment to get started:</p>
</div>
  <div class="column is-narrow">
    <a href="/1/getting-started/">
      <img src="/images/get_started.svg" width="200" alt="Get started">
    </a>
  </div>
</div>

<div class="columns is-multiline platform-columns">
  {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/k8s.md" ) "title" "Kubernetes" "thumbnail" "/images/kubernetes.svg") }}
  {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/ecs.md" ) "title" "AWS ECS" "thumbnail" "/images/awsecs.svg") }}
  {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/dcos.md" ) "title" "DC/OS" "thumbnail" "/images/dcos.svg") }}
  {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/docker.md" ) "title" "Docker" "thumbnail" "/images/docker.svg") }}
  {{ partial "choose-your-platform/platform.html" (dict "url" (relref . "/1/getting-started/locally.md" ) "title" "Local" "thumbnail" "/images/local.svg") }}
</div>
