<nav class="navbar is-fixed-top is-fixed-top-touch" role="navigation" aria-label="main navigation" id="navbar">
  <div class="navbar-brand center">
    <a class="navbar-item" href="/">
      <img src="{{$.Site.Params.logo}}" alt="logo" />
    </a>
    <a id="expandMenuBtn" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  {{ partial "main-menu.html" . }}
</nav>

{{ $js := resources.Get "js/navbar.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.Permalink }}"></script>

<div class="linkedin__btn">
    <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script data-proofer-ignore type="IN/FollowCompany" data-id="99659303"></script>
</div>
