<div class="wrapper body-header has-background-light-blue">
  <div class="columns center-column is-marginless is-fullwidth">
    <div class="column">
      <div class="container columns is-marginless{{ if .image_on_the_right }} row-reverse{{ end }}">
        <div class="column center">
          <figure class="image">
            <img {{ partial "src.html" (dict "img" .image) | safeHTMLAttr }} alt="header illustration"/>
          </figure>
        </div>
        <div class="column center">
          <div class="notification">
            <h3 class="title is-size-1">{{.title}}</h3>
            <h4 class="title is-size-5">{{.description | markdownify}}</h4>
            <div class="columns">
              {{ range .buttons }}
                <div class="column">
                  <a href="{{.url}}" class="button is-large is-primary is-fullwidth" target="_blank">
                    {{.caption}}
                  </a>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>