<div class="wrapper docs">
  <div class="columns is-fullwidth is-gapless">
    <div class="column has-background-light-gray docs-sidebar-container is-paddingless is-narrow is-one-third-fullhd is-full-mobile">
      <div class="docs-sidebar">
        {{ partial "1/sidebar" (dict "page" . "menu" "docs") }}
      </div>
    </div>
    <div class="column has-background-white docs-content is-paddingless">
      <div class="container blog-content-container">
        <div class="columns">
          {{ with site.GetPage "page" "/1/overview/what-is-linkerd.md" }}
          <div class="column">
            <h1>What is Linkerd?</h1>
            {{ .Summary }}
            <a href="{{ .RelPermalink }}">Read more &raquo;</a>
          </div>

          <div class="column">
            <a href="{{ .RelPermalink }}">
              <figure class="image  is-1by1">
                <img class="mv-linkerd-logo-coin-container" src="/images/linkerd-section-bg.svg" alt="logo">
                <div class="mv-linkerd-logo-image-container">
                  <img class="section-header-svg-fill" src="/images/identity/svg/linkerd-logo-gradient.svg"
                    alt="logo-gradient">
                </div>
              </figure>
            </a>
          </div>
          {{ end }}
        </div>

        <hr>

        <div class="columns">
          <div class="column">
            <h2>What does Linkerd do?</h2>
            <p>Linkerd adds visibility, control, and reliability to your application with a wide array of powerful
              techniques: circuit-breaking, latency-aware load balancing, eventually consistent (“advisory”) service
              discovery, deadline propagation, and tracing and instrumentation.</p>
          </div>
          <div class="column">
            <a href="/1/features/">
              <img style="max-width: 100%" src="/images/what_it_does@2x.png" alt="What Linkerd does">
            </a>
          </div>
        </div>

        <hr>

        <div class="columns">
          <div class="column">
            <h2>Why is the service mesh necessary?</h2>
            <p>The way that services interact forms a critical part of an application’s runtime behavior. Without a
              consistent layer of control and visibility, runtime performance can be difficult to measure and
              diagnose,
              and partial failures can propagate to take down the entire application.
            </p>
            <p>
              <a href="https://buoyant.io/2017/04/25/whats-a-service-mesh-and-why-do-i-need-one/" target="_blank">Read
                more &raquo;</a>
            </p>
          </div>
          <div class="column">
            <a href="https://buoyant.io/2017/04/25/whats-a-service-mesh-and-why-do-i-need-one/" target="_blank">
              <img style="width: 100%" src="/images/why_is_it_necessary@2x.png" alt="Why Linkerd is necessary">
            </a>
          </div>
        </div>

        <hr>

        <div class="columns">
          <div class="column">
            <h2>What does Linkerd give you?</h2>
            {{ with site.GetPage "section" "features" }}
            {{ .Summary }}
            <a href="{{ .RelPermalink }}">Read more &raquo;</a>
            {{ end }}
          </div>
          <div class="column">
            {{ partial "linkerd-demo.html" . }}
          </div>
        </div>

        <hr>

        {{ partial "get-started.html" . }}
      </div>
    </div>
  </div>
</div>