<div class="linkerd-demo">
  <p class="demo-description">This miniature dashboard shows requests to a service, load balanced across its two clients.</p>
  <canvas id="linkerd-demo" width="338" height="150"></canvas>

  <p class="demo-title">Router: http</p>
  <table class="table">
    <tbody>
      <tr class="requests-sum">
        <td>Requests</td>
        <td class="requests-metric-sum">3500</td>
      </tr>
      <tr class="">
        <td>Success rate</td>
        <td class="success-metric">99.999%</td>
      </tr>
      <tr class="connections-sum">
        <td>Connections</td>
        <td class="connections-metric-sum">14</td>
      </tr>
    </tbody>
  </table>

  <div class="bar-chart">
    <p class="demo-title">Retry budget available: <span class="budget-used">18%</span> / 20%</p>
    <div class="overlay-bars bar-container graph-gradient green" style="width:100%;"></div>
    <div class="overlay-bars bar graph-gradient green" style="width:90%;"></div>
  </div>
</div>
