<div id="mainMenu" class="navbar-menu">
  <div class="navbar-start">
    {{ $currentPage := . }}
    {{ range .Site.Menus.top }}
    {{ $isCurrent := $currentPage.IsMenuCurrent "top" . }}
    {{ $isCurrentDropdown := $currentPage.HasMenuCurrent "top" . }}
    
    {{ if not .HasChildren }}
      <a href="{{ .URL }}" class="navbar-item {{ if $isCurrent }}is-active{{ end }}" {{if hasPrefix .URL "http"}}target="_blank"{{end}}>
        <span class="navbar-item-helper">{{ .Pre }}{{ .Name }}{{ .Post }}</span>
      </a>
    {{ else }}
      <div class="dropdown">
        <div class="dropdown-trigger">
          <button class="navbar-item"><span class="navbar-item-helper">{{ .Pre }}{{ .Name }}{{ .Post }}</span></button>
        </div>
        <div class="dropdown-menu">
          <button class="dropdown-item back">&lt; Back</button>
          <div class="dropdown-content">
            {{ range .Children }}
              <a href="{{ .URL }}" class="dropdown-item py-3 {{ if $isCurrent }}is-active{{ end }}" {{if hasPrefix .URL "http"}}target="_blank"{{end}}>
                <span class="navbar-item-helper">{{ .Pre }}{{ .Name }}{{ .Post }}</span>
              </a>  
            {{ end }}
          </div>
        </div>  
      </div>
    {{ end }}
    {{ end }}
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="github-stars">
        <a class="github-button" href="https://github.com/linkerd/linkerd2" data-icon="octicon-star"
        data-size="large" data-show-count="true" aria-label="Star linkerd/linkerd2 on GitHub">Star</a>
      </div>
    </div>
    {{ range .Site.Menus.cta }}
      <div class="navbar-item">
        <a href="{{ .URL }}" class="button is-link" {{if hasPrefix .URL "http"}}target="_blank"{{end}}>
          <span class="navbar-item-helper">{{ .Pre }}{{ .Name }}{{ .Post }}</span>
        </a>
      </div>
    {{ end }}
  </div>
</div>
