<div id="mainMenu" class="navbar-menu">
  <div class="navbar-end">
    {{ $currentPage := . }}
    {{ range .Site.Menus.top }}
    {{ $isCurrent := $currentPage.IsMenuCurrent "top" . }}


      {{ if $isCurrent }}
      <a href="{{ .URL }}" class="navbar-item has-text-white is-uppercase is-active" {{if hasPrefix .URL "http"}}target="_blank"{{end}}><span
          class="navbar-item-helper">{{ .Pre }}{{ .Name }}{{ .Post }}</span></a>
      {{ else }}
      <a href="{{ .URL }}" class="navbar-item has-text-white is-uppercase" {{if hasPrefix .URL "http"}}target="_blank"{{end}}><span
        class="navbar-item-helper">{{ .Pre }}{{ .Name }}{{ .Post }}</span></a>
      {{ end }}
    {{ end }}
  </div>
</div>
