<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ if eq .Section "1" }}
<meta name="robots" content="noindex">
{{ end }}

<meta name="description" content="{{ partial "description.html" . }}" />
{{ partial "twitter-cards.html" . }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ partial "description.html" . }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Page.RelPermalink | absURL }}" />

{{ if .Params.socialImage }}
  <meta property="og:image" content="{{ .Params.socialImage| absURL | safeHTMLAttr }}" />
{{ else if .Params.featuredImage }}
  <meta property="og:image" content="{{ .Params.featuredImage| absURL | safeHTMLAttr }}" />
{{ else if .Params.thumbnail }}
  <meta property="og:image" content="{{ .Params.thumbnail | absURL | safeHTMLAttr }}" />
{{ else }}
  <meta property="og:image" content="https://linkerd.io/images/logo-only-200h.png" />
{{ end }}

{{ $latestVersion := site.Params.latest_linkerd2_stable_version }}
{{ $version := .Page.Section }}
{{ if (hasPrefix $version "2.") }}
  <link rel="canonical" href={{ replace .Permalink (printf "/%s/" $version) (printf "/%s/" $latestVersion) }}>
{{ else }}
  <link rel="canonical" href={{ .Permalink }}>
{{ end }}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PXBDGKJ');</script>
<!-- End Google Tag Manager -->
