<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ if eq .Section "1" }}
<meta name="robots" content="noindex">
{{ end }}

<meta name="description" content="{{ partial "description.html" . }}" />
{{ partial "twitter-cards.html" . }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ partial "description.html" . }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Page.RelPermalink | absURL }}" />

{{ if .Params.thumbnail }}
  <meta property="og:image" content="{{ .Params.thumbnail | absURL | safeHTMLAttr }}" />
{{ else }}
  <meta property="og:image" content="https://linkerd.io/images/logo-only-200h.png" />
{{ end }}

{{ with .Permalink }}
<link rel="canonical" href="{{ . }}" />
{{ end }}

