<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ if eq .Section "1" }}
<meta name="robots" content="noindex">
{{ end }}

<meta name="description" content="{{ partial "description.html" . }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Linkerd" />
<meta name="twitter:creator" content="@Linkerd" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ partial "description.html" . }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Page.RelPermalink | absURL }}" />

{{ if .Params.thumbnail }}
  <meta property="og:image" content="{{ .Params.thumbnail | absURL | safeHTMLAttr }}" />
{{ else }}
  <meta property="og:image" content="https://linkerd.io/images/logo-only-200h.png" />
{{ end }}

{{ with .Permalink }}
<link rel="canonical" href="{{ . }}" />
{{ end }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60040560-2', 'auto');
  ga('send', 'pageview');
</script>

