<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img alt="Logo" src="/images/identity/svg/linkerd_primary_color_white.svg" height="40">
    </a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}
        {{ range site.Menus.top }}
        <li class="nav-item {{if (hasPrefix $currentPage.RelPermalink .URL) }}current{{end}}">
          <a class="nav-link" href="{{.URL}}" {{if hasPrefix .URL "http"}}target="_blank"{{end}}>{{ .Pre }}{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>

      <a class="btn btn-outline-light ml-3" href="{{ relref . "/getting-started" }}">
        Get Started
      </a>
    </div>
  </div>
</nav>
