{{ $docsVersion := index (split .page.RelPermalink "/") 1 }}
<div class="">
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item has-dropdown is-hoverable ">
      <a class="navbar-link">
        {{ if and (hasPrefix $docsVersion "2") (ne $docsVersion "2.10") (ne $docsVersion "2.11") (ne $docsVersion "2.12") (ne $docsVersion "2.13") (ne $docsVersion "2.14") (ne $docsVersion "2.15") (ne $docsVersion "2-edge") }}
        Linkerd 2.9
        {{ else if eq $docsVersion "2.10"  }}
        Linkerd 2.10
        {{ else if eq $docsVersion "2.11"  }}
        Linkerd 2.11
        {{ else if eq $docsVersion "2.12"  }}
        Linkerd 2.12
        {{ else if eq $docsVersion "2.13"  }}
        Linkerd 2.13
        {{ else if eq $docsVersion "2.14"  }}
        Linkerd 2.14
        {{ else if eq $docsVersion "2-edge"  }}
        Linkerd [edge]
        {{ else }}
        {{/* have non-versioned docs pull sidebar from the latest version docs */}}
        {{ $docsVersion = "2.15" }}
        Linkerd 2.15
        {{ end }}
      </a>
      <div class="navbar-dropdown">
        <div class="navbar-item">
          Linkerd 1.x
        </div>
        <a class="navbar-item" href="/1/overview/">
          {{ site.Params.latest_release_version }}
        </a>
        <div class="navbar-item">
          Linkerd 2.x
        </div>
        <a class="navbar-item" href="/2.9/overview/">
          Linkerd 2.9
        </a>
        <a class="navbar-item" href="/2.10/overview/">
          Linkerd 2.10
        </a>
        <a class="navbar-item" href="/2.11/overview/">
          Linkerd 2.11
        </a>
        <a class="navbar-item" href="/2.12/overview/">
          Linkerd 2.12
        </a>
        <a class="navbar-item" href="/2.13/overview/">
          Linkerd 2.13
        </a>
        <a class="navbar-item" href="/2.14/overview/">
          Linkerd 2.14
        </a>
        <a class="navbar-item" href="/2.15/overview/">
          Linkerd 2.15
        </a>
      </div>
    </div>
  </nav>
  <aside class="menu">
    <ul class="menu-list is-paddingless is-marginless">
      {{ $currentPage := .page }}
      {{ range sort (site.GetPage (print "/" $docsVersion)).Sections "Params.weight" "asc" }}
      {{ $sectionActive := hasPrefix  $currentPage.RelPermalink .RelPermalink }}

      {{ $hasWeight := sort (where .Pages "Params.weight" "ge" 1) "Params.weight" "asc" }}
      {{ $missingWeight := sort (where .Pages "Params.weight" "eq" nil) "Name" "asc" }}
      {{ $subPages := ($hasWeight | append $missingWeight) }}
      <li class="menu-list-item {{ if $sectionActive }}is-active{{ end }}">
        <a href="{{ .RelPermalink }}" class="{{ if gt (len $subPages) 0}}navbar-link{{ end }} {{ if $sectionActive }}is-active{{ end }}">
          {{ .Name }}
        </a>
        {{ if gt (len $subPages) 0 }}
        <ul class="menu-list is-paddingless is-marginless">
          {{ range $item := $subPages }}
          {{ $active := hasPrefix $currentPage.RelPermalink .RelPermalink }}
          <li class="menu-list-item">
            <a href="{{ .RelPermalink }}" class="{{ if $active }}is-active{{ end }}">
              {{ $item.Name }}
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </li>
      {{ end }}
    </ul>
    <ul class="menu-list is-paddingless is-marginless">
      <li class="menu-list-item {{ if eq $currentPage.RelPermalink "/what-is-a-service-mesh/" }}is-active{{ end }}">
        <a href="/what-is-a-service-mesh/">
          What is a service mesh?
        </a>
      </li>
      <li class="menu-list-item {{ if eq $currentPage.RelPermalink "/faq/" }}is-active{{ end }}">
        <a href="/faq/">
          Frequently Asked Questions
        </a>
      </li>
      <li class="menu-list-item {{ if eq $currentPage.RelPermalink "/releases/" }}is-active{{ end }}">
        <a href="/releases/">
          Releases
        </a>
      </li>
      <li class="menu-list-item {{ if eq $currentPage.RelPermalink "/design-principles/" }}is-active{{ end }}">
        <a href="/design-principles/">
          Design Principles
        </a>
      </li>
      <li class="menu-list-item {{ if eq $currentPage.RelPermalink "/going-to-production/" }}is-active{{ end }}">
        <a href="/going-to-production/">
          Going to Production
        </a>
      </li>
      <li class="menu-list-item {{ if eq $currentPage.RelPermalink "/service-mesh-glossary/" }}is-active{{ end }}">
        <a href="/service-mesh-glossary/">
          Service Mesh Glossary
        </a>
      </li>
    </ul>
  </aside>

  <hr class="hr">
  <div class="sidebar-social">
    <div>
      <a class="" href="https://slack.linkerd.io" target="_blank">
        <img style="height:24px;" src="/images/slack.svg" alt="Slack">
      </a>
    </div>
    <div>
      <a class="" href="https://linkerd.buoyant.io" target="_blank">
        <img style="height:24px; vertical-align: middle;" src="/images/identity/png/transparent_background/2x/forum_dark@2x.png" alt="FORUM">
      </a>
    </div>
  </div>
</div>
