<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Flag
        </th>
        <th>
          Usage
        </th>
      </tr>
    </thead>
    <tbody>
      {{ range . }}
      <tr>
        <td>
          <code class="text-nowrap">--{{ .Name }}</code>
          {{ with .Shorthand }}
          <br>
          <code>-{{ . }}</code>
          {{ end }}
        </td>
        <td>
          {{ .Usage | markdownify }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>