/*
@markup See: layouts/community/ambassadors-apply.html
*/

.ambassadors-apply {
  // Override all h2s on the page
  h2 {
    font-size: $font-size-h1;
  }
  .page__container {
    @include make-stack(7);
  }
  @media (min-width: breakpoint-min-width("md")) {
    .card {
      gap: spacer(6);
      padding: spacer(6);
    }
  }
  @media (min-width: breakpoint-min-width("lg")) {
    .hero__container {
      background-image: url("/community/ambassadors-apply/images/bkgd.svg");
      background-repeat: no-repeat;
      background-size: 500px auto;
      background-position: right;
    }
    .hero__body {
      max-width: 700px;
    }
  }
  @media (min-width: breakpoint-min-width("xl")) {
    .hero__container {
      background-size: auto 100%;
    }
  }
}
