/*
@markup See: layouts/community/ambassadors-apply.html
*/

.ambassadors-apply {
  // Override all h2s on the page
  h2 {
    font-size: $font-size-h1;
  }
  .page__container {
    @include make-stack(7);
  }
  @media (min-width: breakpoint-min-width("lg")) {
    section {
      padding-left: spacer(6);
      padding-right: spacer(6);
    }
    .card {
      @include make-card--horz;
      @include make-card--reverse;
      padding: spacer(6);
    }
  }
}
