/*
@markup See: layouts/community/ambassadors.html
*/

.ambassadors {
  .page__container {
    display: grid;
    gap: spacer(4);
    grid-template-columns: 1fr;

    @media (min-width: breakpoint-min-width("md")) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .card {
    position: relative;

    .card__footer {
      gap: spacer(1);
    }
    &.ambassadors__emeritus {
      border: solid 2px $blue;

      .badge {
        position: absolute;

        @media (max-width: breakpoint-max-width("lg")) {
          left: spacer(4);
          bottom: spacer(4);
          width: 128px; // Thumbnail width
          text-align: center; // Center badge under thumbnail
        }
        @media (min-width: breakpoint-min-width("xl")) {
          top: spacer(3);
          right: spacer(3);
        }
      }
    }
  }
}
