/*
@markup See: layouts/blog/*
*/

.blog {
  padding: spacer(7) 0;

  &.blog--list {
    background-color: $offwhite;
  }

  // Override all card header links in the blog section
  .card__header {
    a {
      color: $navy;

      &:hover {
        color: $blue;
      }
    }
  }
}

// .blog__container

.blog__container {
  @include make-stack(6);
}

// .blog-list

.blog-list {
  @include make-stack(5);

  h2 {
    // Override all h2s on the blog list page
    color: $gray;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    text-align: center;
  }
  .blog-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin-bottom: 0; // Override base styles
    }
  }
  .blog-list__feature,
  .blog-list__pages {
    display: grid;
    gap: spacer(4);
    grid-template-columns: 1fr;
  }
  @media (min-width: breakpoint-min-width("lg")) {
    .blog-list__feature,
    .blog-list__pages {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// .blog-post

.blog-post {
  @include make-stack(4);
  max-width: 800px;
  margin: 0 auto;

  .blog-post__header {
    h1 {
      font-weight: $font-weight-normal;
    }
  }
}

// .blog-post-related

.blog-post-related {
  @include make-stack(5);

  h2 {
    // Override base styles
    color: $gray;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    text-align: center;
  }
  .blog-post-related__pages {
    display: grid;
    gap: spacer(4);
    grid-template-columns: 1fr;
  }
  @media (min-width: breakpoint-min-width("lg")) {
    .blog-post-related__pages {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// .blog-post-meta

.blog-post-meta {
  display: flex;
  gap: spacer(2);
  align-items: center;

  .blog-post-meta__body {
    display: flex;
    flex-direction: column;
  }
  .blog-post-meta__name {
    font-weight: $font-weight-bold;
  }
  .blog-post-meta__date {
    font-size: $font-size-sm;
  }
}
