/*
@markup See: layouts/enterprise/list.html
*/

.enterprise {
  // Override all h2s on the page
  h2 {
    font-size: $font-size-h1;
  }
  .page__container {
    @include make-stack(7);
  }
  .enterprise__section {
    @include make-stack(5);
  }
  @media (min-width: breakpoint-min-width("lg")) {
    .card {
      @include make-card--horz;
      @include make-card--reverse;
      gap: spacer(6);
      padding: spacer(6);
    }
  }
}
