$dark: #1d2322;

$primary: #236Ad9;

$font-family-sans-serif: lato,helvetica neue,sans-serif;
$headings-font-weight: 300;

$table-cell-min-width: 10em;

$code-color: #343a40;
$code-background: #e9ecef;
