.linkerd-demo {
  p.demo-description {
    color: grey;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  p.demo-title {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0;
  }
  table {
    font-size: 12px;
  }
  canvas {
    margin-bottom: 18px;
  }
  .bar-chart {
    position: relative;

    .overlay-bars {
      position: absolute;
      height: 12px;
      background-color: green;
    }
    .overlay-bars.bar-container {
      opacity: 0.25;
    }
    .graph-gradient.green {
      background-image: repeating-linear-gradient(90deg, rgb(144, 251, 69), rgb(144, 251, 69) 4px, white 0px, white 8px);
    }
  }
}
