@mixin make-button {
  display: inline-block;
  padding: 8.5px 16px;
  color: $blue;
  background-color: transparent;
  border-radius: $border-radius;
  outline-width: 0;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  font-size: $font-size-base;
  line-height: $line-height-base;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:focus {
    outline: 0;
  }
  &:hover,
  &:active {
    color: shade-color($blue, 20%);
    background-color: $light-blue;
  }
}
@mixin make-button--primary {
  color: $white;
  background-color: $blue;

  &:hover,
  &:active {
    color: $white;
    background-color: shade-color($blue, 20%);
  }
}
@mixin make-button--secondary {
  color: $navy;
  background-color: $green;

  &:hover,
  &:active {
    color: $navy;
    background-color: darken($green, 15%);
  }
}
@mixin make-button--outline {
  background-color: transparent;
  outline: solid 1px $border-color;
  transition: color 0.2s ease, border-color 0.2s ease;

  &.button--primary {
    color: $blue;
    outline-color: $blue;

    &:hover,
    &:active {
      color: shade-color($blue, 20%);
      outline-color: shade-color($blue, 20%);
      background-color: transparent;
    }
  }
  &.button--secondary {
    color: darken($green, 30%);
    outline-color: darken($green, 30%);

    &:hover,
    &:active {
      color: darken($green, 35%);
      outline-color: darken($green, 35%);
      background-color: transparent;
    }
  }
}
@mixin make-button--lg {
  padding: 13px 24px;
  font-size: $font-size-lg;
}
@mixin make-button--md {
  padding: 8.5px 16px;
  font-size: $font-size-base;
}
@mixin make-button--sm {
  padding: 8px 14px;
  font-size: $font-size-sm;
}
@mixin make-button--xs {
  padding: 2px 8px;
  font-size: $font-size-xs;
}
@mixin make-button--block {
  display: block;
  width: 100%;
}
@mixin make-button--disabled {
  pointer-events: none;
  opacity: 0.25;
}
