<div class="wrapper has-background-white">
  <div class="container">
    {{ range . }}
      <h2 class="title">{{ .title }}</h2>
      {{ range .entries }}
        <div class="columns">
          <div class="column is-four-fifths">
            <h3 class="title">{{ .title }}</h3>
            <div>{{ .description | markdownify }}</div>
            <a href="{{ .button.href }}" class="button is-primary">
              {{ .button.text }}
            </a>
          </div>
          <div class="column">
            <figure class="image">
              <img {{ partial "src.html" (dict "img" .image) | safeHTMLAttr }} alt="{{ .title }}" />
            </figure>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
