<div class="wrapper has-background-white enterprise-support">
  <div class="container">
    <div class="p-4">
      {{ range . }}
        <h2 class="title has-text-navy-black">{{ .title }}</h2>
        {{ range .entries }}
          <div class="card enterprise-support__entry">
            <div class="columns is-variable is-8">
              <div class="column enterprise-support__entry-image">
                <figure class="image mb-3">
                  <img {{ partial "src.html" (dict "img" .image) | safeHTMLAttr }} alt="{{ .title }}" />
                </figure>
              </div>
              <div class="column is-two-thirds-tablet is-three-quarters-widescreen enterprise-support__entry-content">
                <h3 class="title has-text-navy-black mb-6">{{ .title }}</h3>
                <div class="mb-6">{{ .description | markdownify }}</div>
                <a href="{{ .button.href }}" class="button is-link" target="_blank">
                  {{ .button.text }}
                </a>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
