{{ define "head" }}
<script async defer src="https://buttons.github.io/buttons.js"></script>
{{ end }}

{{ define "main" }}
{{ partial "community/top-hero.html" .Params.top_hero }}
{{ partial "community/two-col-section.html" .Params.two_col_section }}
{{ partial "community/two-col-section.html" .Params.two_col_section_2 }}
{{ partial "community/links-lists.html" .Params.link_lists }}
{{ partial "community/jobs.html" .Params.jobs }}

{{ partial "homepage/image-list.html"  (dict "mentions" .Site.Home.Params.companies "title" .Site.Home.Params.companies_title "backgroundColor" "has-background-light-blue") }}
{{ partial "homepage/adopter-banner.html" .Site.Home }}

{{ end }}
