<div class="wrapper py-6">
  <div class="container columns is-mobile is-multiline is-centered links-list-container">
    {{ range .links_list }}
      <div class="column is-narrow links-list is-paddingless">
        <h2 class="title is-size-1">{{.title}}</h2>
        {{ range .links }}
          <div class="">
            <a href="{{.url}}" class="link-list-item">
              <i class="{{.icon_name}}"></i>
              {{.caption}}
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>