<div class="wrapper signup {{.background_color}} features is-centered">
    <div class="container is-centered">
        <div class="columns is-centered">
            <div class="column is-8 has-text-centered">
                {{ if .title }}
                <h2 class="title is-size-1 center has-text-color has-text-centered-mobiledropdown navigation">{{.title}}</h2>
                {{ end }}
                <iframe  src="{{.form_url|safeHTML}}" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
    </div>
</div>