<div class="wrapper body-header has-background-bright-blue has-text-white">
  <div class="columns center-column is-marginless is-fullwidth">
    <div class="column py-0">
      <div class="container columns is-marginless{{ if .image_on_the_right }} row-reverse{{ end }}">
        <div class="column center py-0">
          <figure class="image anchors-hero__image">
            <img src="{{.image}}" srcset="{{.image}} 1x, {{.image2x}} 2x" alt="{{.image_alt}}">
          </figure>
        </div>
        <div class="column center py-4">
          <div class="notification">
            <h1 class="title is-size-1">{{.title}}</h1>
            <h5 class="title is-size-5">{{.description | markdownify}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>