{{ define "main" }}
<div class="wrapper docs">
  <div class="columns is-fullwidth is-gapless is-tablet">
    <div class="column has-background-light-gray docs-sidebar-container is-paddingless is-narrow is-one-third-fullhd is-full-mobile is-narrow-tablet">
      <div class="docs-sidebar">
        {{ partial "1/sidebar" (dict "page" . "menu" "docs") }}
      </div>
    </div>
    <div class="column has-background-white docs-content is-paddingless ">
      <div class="container blog-content-container">

        <div class="language-markup">
          <div class="container">

            {{ partial "get-started" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}


