<div class="wrapper has-background-white community-content">
  <div class="container column">
    <div class="columns column is-multiline">
        {{ range . }}
        <div class="column is-6">
          <div class="box is-flex is-justify-content-flex-start is-align-items-center px-5 py-5 community-card">
            <figure class="image is-48x48 mr-4 is-flex-shrink-0">
              <img src="{{ .image }}" alt="{{ .alt }}">
            </figure>
            <div>
              <p>{{ .description | markdownify }}</p>
            </div>
          </div>
        </div>
        {{ end }}
    </div>
  </div>
</div>
