<div class="wrapper has-background-white pt-6">
  <div class="container columns">
    <div class="column is-8 is-offset-2">
      <div class="columns is-align-items-center">
        <div class="column is-narrow">
          <figure class="image is-96x96">
            <img src="{{ .icon }}" alt="{{ .title | safeHTMLAttr }}" />
          </figure>
        </div>
        <div class="column">
          <h1 class="title is-1 has-text-color has-text-weight-semibold">{{ .title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
