name: install

on:
  pull_request:
    paths:
    - .github/workflows/install.yml
    - Makefile
    - run.linkerd.io/public/install*

jobs:
  lint:
    name: Lint install script
    runs-on: ubuntu-latest
    steps:
    - uses: linkerd/dev/actions/setup-tools@v47
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Lint install script
      run: |
        make shellcheck

  build:
    name: Build install script
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Build scripts
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        make build-run.linkerd.io

    - uses: actions/upload-artifact@v4.6.2
      with:
        name: run.linkerd.io
        path: tmp/run.linkerd.io/public

  install:
    name: Test install for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    needs: [build]

    steps:
    - uses: actions/download-artifact@v5.0.0
      with:
        name: run.linkerd.io

    - name: Test install script execution
      shell: bash
      run: |
        for script in $(find run.linkerd.io/install*); do
          [ $(uname -s) = "Darwin" ] && statcmd="stat -f %m" || statcmd="stat -c %Y"
          sh ${script}
          set -x
          client=$(~/.linkerd2/bin/linkerd version --client --short)
          expected=$(cat ${script} | grep VERSION= | sed 's/.*:-\(.*\)\}.*/\1/')
          [ "$client" = "$expected" ]
          orig_mtime=$(${statcmd} ~/.linkerd2/bin/linkerd-${expected})
          # re-run should not re-download
          sh ${script}
          new_mtime=$(${statcmd} ~/.linkerd2/bin/linkerd-${expected})
          [ "${orig_mtime}" = "${new_mtime}" ]
          # breaking the sha hash forces a redownload
          echo "x" >> ~/.linkerd2/bin/linkerd-${expected}
          sh ${script}
          new_mtime=$(${statcmd} ~/.linkerd2/bin/linkerd-${expected})
          [ "${orig_mtime}" != "${new_mtime}" ]
        done
