name: validate

on:
  pull_request:
    paths:
      - linkerd.io/**

jobs:
  linkerd_io:
    name: Validate generated HTML
    runs-on: ubuntu-latest
    container:
      image: buoyantio/website-builder:v1.3.3
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Lint markdown
        run: |
          make lint

      - name: Lint html and check for dead links
        run: |
          make check
