<div class="">
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item has-dropdown is-hoverable ">
      <a class="navbar-link">
        {{ if eq .page.Section "1" }}
        Linkerd 1.x
        {{ else }}
        Linkerd 2.x
        {{ end }}
      </a>
      <div class="navbar-dropdown">
        <div class="navbar-item">
          Linkerd 1.x
        </div>
        <a class="navbar-item" href="/1/overview/">
          {{ site.Params.latest_release_version }}
        </a>
        <div class="navbar-item">
          Linkerd 2.x
        </div>
        <a class="navbar-item" href="/2/overview/">
          L5D2_STABLE_VERSION
        </a>
      </div>
    </div>
  </nav>
  <aside class="menu">
    <ul class="menu-list is-paddingless is-marginless">
      {{ $currentPage := .page }}
      {{ range sort (site.GetPage "/2").Sections "Params.weight" "asc" }}
      {{ $sectionActive := hasPrefix  $currentPage.URL .URL }}

      <li class="menu-list-item {{ if $sectionActive }}is-active{{ end }}">
        <a href="{{ .URL }}" class="{{ if $sectionActive }}is-active{{ end }}">
          {{ .Name }}
        </a>
        <ul class="menu-list is-paddingless is-marginless">
          {{ $hasWeight := sort (where .Pages "Params.weight" "ge" 1) "Params.weight" "asc" }}
          {{ $missingWeight := sort (where .Pages "Params.weight" "eq" nil) "Name" "asc" }}
          {{ range ($hasWeight | append $missingWeight) }}
          {{ $active := hasPrefix $currentPage.URL .URL }}
          <li class="menu-list-item">
            <a href="{{ .URL }}" class="{{ if $active }}is-active{{ end }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </aside>

  <hr class="hr">
  <div class="sidebar-social">
    <div>
      <a class="" href="https://slack.linkerd.io" target="_blank">
        <img style="height:24px;" src="/images/slack.svg" alt="Slack">
      </a>
    </div>
    <div>
      <a class="" href="https://discourse.linkerd.io" target="_blank">
        <img style="height:24px;" src="/images/discourse.svg" alt="Discourse">
      </a>
    </div>
  </div>
</div>
